/* line 4, ../../../../sass/partials/page/modules/property-search-results.scss */
.related-articles--mobile {
  display: none;
  background: white;
}
/* line 8, ../../../../sass/partials/page/modules/property-search-results.scss */
.related-articles--mobile .dfp-ad__row {
  display: inline-block;
}

/* line 13, ../../../../sass/partials/page/modules/property-search-results.scss */
.related-articles-modal {
  display: none;
  background: white;
}
/* line 17, ../../../../sass/partials/page/modules/property-search-results.scss */
.related-articles-modal .related-articles__item--mobile {
  border-top: 0;
  border-bottom: 1px solid grey;
  height: 240px;
  overflow: hidden;
  margin-bottom: 5px;
}
/* line 25, ../../../../sass/partials/page/modules/property-search-results.scss */
.related-articles-modal .description--mobile {
  display: block !important;
  text-align: left;
  font-family: OpenSans Regular;
  font-size: 13px;
  margin-bottom: 6px;
}
/* line 33, ../../../../sass/partials/page/modules/property-search-results.scss */
.related-articles-modal h2.title--mobile {
  font-family: OpenSans Bold;
  color: #000000;
  font-size: 100%;
  /* Approximation due to font substitution */
  font-weight: 900;
  text-align: left;
  margin: 0 0 4px 0;
}
/* line 42, ../../../../sass/partials/page/modules/property-search-results.scss */
.related-articles-modal .additional-info--mobile {
  display: none;
}
/* line 46, ../../../../sass/partials/page/modules/property-search-results.scss */
.related-articles-modal .view-more-articles-mobile {
  clear: both;
  display: block;
  text-align: center;
  text-transform: capitalize;
  font-family: OpenSans Regular;
  font-weight: 400;
  font-size: 18px;
  color: #000;
  line-height: 1em;
  padding: 0.5em 0 0.5em 0;
  text-decoration: none;
  background: #e5e5e5;
  margin: 20px 0 15px 0;
}
/* line 61, ../../../../sass/partials/page/modules/property-search-results.scss */
.related-articles-modal .view-more-articles-mobile img {
  margin-left: 4px;
}

/* line 67, ../../../../sass/partials/page/modules/property-search-results.scss */
.search-filters-modal {
  display: none;
  width: 100%;
  margin: 0 5%;
  text-align: center;
}
/* line 73, ../../../../sass/partials/page/modules/property-search-results.scss */
.search-filters-modal .close-modal-btn {
  float: right;
}
/* line 77, ../../../../sass/partials/page/modules/property-search-results.scss */
.search-filters-modal .close-modal {
  height: 20px;
  width: 20px;
  padding: 0 10px;
}
/* line 83, ../../../../sass/partials/page/modules/property-search-results.scss */
.search-filters-modal .header {
  margin-bottom: 10px;
  background: #2e1460;
  text-align: center;
  margin-bottom: 3px;
  letter-spacing: 1px;
  font-family: Oswald;
  color: #ffffff;
  font-size: 26px;
  font-weight: 400;
}
/* line 96, ../../../../sass/partials/page/modules/property-search-results.scss */
.search-filters-modal .content {
  background: #dacef1;
  padding: 20px;
  height: auto;
}
/* line 101, ../../../../sass/partials/page/modules/property-search-results.scss */
.search-filters-modal .content p {
  font-family: 'OpenSans Semibold';
  color: black;
  padding: 10px;
  margin-bottom: 10px;
}
/* line 108, ../../../../sass/partials/page/modules/property-search-results.scss */
.search-filters-modal .content p.selected {
  color: #2e1460;
}

/* line 114, ../../../../sass/partials/page/modules/property-search-results.scss */
.serp-map--mobile {
  position: relative;
}

/* line 118, ../../../../sass/partials/page/modules/property-search-results.scss */
.related-articles-modal#simplemodal-data {
  width: 100%;
  margin: 0 auto;
}

/* line 123, ../../../../sass/partials/page/modules/property-search-results.scss */
.search-results {
  display: inline-block;
  margin-bottom: 15px;
}
/* line 127, ../../../../sass/partials/page/modules/property-search-results.scss */
.search-results .serp__mobile-button-dock {
  display: block;
}
/* line 132, ../../../../sass/partials/page/modules/property-search-results.scss */
.search-results__item {
  max-height: 355px;
  position: relative;
  border-bottom: 1px solid grey;
  display: inline-block;
}
/* line 140, ../../../../sass/partials/page/modules/property-search-results.scss */
.search-results__filter-bar-bottom {
  display: none;
}
/* line 144, ../../../../sass/partials/page/modules/property-search-results.scss */
.search-results__filter-bar {
  height: 47px;
  position: relative;
  display: block;
  width: 100%;
  padding: 16px;
  margin-bottom: 5px;
  box-sizing: border-box;
  background: #dacef1;
}
/* line 154, ../../../../sass/partials/page/modules/property-search-results.scss */
.search-results__filter-bar .search-results__summary-count {
  display: none;
}
/* line 158, ../../../../sass/partials/page/modules/property-search-results.scss */
.search-results__filter-bar .sort-drop {
  position: absolute;
  bottom: 5px;
  top: 5px;
  left: 120px;
  background: white;
  border: none;
  font-family: 'OpenSans Regular';
}
/* line 168, ../../../../sass/partials/page/modules/property-search-results.scss */
.search-results__filter-bar .filter-drop {
  display: inline-block;
  background: white;
  color: #2e1460;
  position: absolute;
  bottom: 5px;
  top: 5px;
  left: 5px;
  padding: 10px;
  border-radius: 3px;
  font-family: "OpenSans Semibold";
}
/* line 183, ../../../../sass/partials/page/modules/property-search-results.scss */
.search-results__summary {
  text-align: center;
  margin: 25px 0;
}
/* line 188, ../../../../sass/partials/page/modules/property-search-results.scss */
.search-results .search-summary-header {
  font-family: 'OpenSans Regular';
  font-size: 20px;
  font-weight: 600;
  clear: both;
  margin: 0 auto;
  max-width: 960px;
  padding: 0 0 10px 0;
}
/* line 199, ../../../../sass/partials/page/modules/property-search-results.scss */
.search-results .search-summary-header > .total-results {
  margin-left: 10px;
  font-family: 'OpenSans Regular';
  font-size: 16px;
  font-weight: 400;
}
/* line 207, ../../../../sass/partials/page/modules/property-search-results.scss */
.search-results .header {
  width: 100%;
  color: black;
  padding: 10px;
  position: relative;
  margin-bottom: 5px;
  box-sizing: border-box;
  display: inline-block;
}
/* line 216, ../../../../sass/partials/page/modules/property-search-results.scss */
.search-results .header .address {
  font-family: 'Oswald Regular';
  color: black;
  font-size: 17.93px;
  /* Approximation due to font substitution */
  font-weight: 400;
  text-align: left;
  display: inline-block;
  width: 60%;
  padding-right: 10px;
  box-sizing: border-box;
}
/* line 229, ../../../../sass/partials/page/modules/property-search-results.scss */
.search-results .header:hover {
  background: #2e1460;
}
/* line 232, ../../../../sass/partials/page/modules/property-search-results.scss */
.search-results .header:hover p {
  color: white;
}
/* line 236, ../../../../sass/partials/page/modules/property-search-results.scss */
.search-results .header:hover .address {
  text-decoration: underline;
}
/* line 240, ../../../../sass/partials/page/modules/property-search-results.scss */
.search-results .header:hover .share-button--heart {
  background-image: url(../../images/listings/heart-icon-white.png);
  background-size: 22px 20px;
}
/* line 245, ../../../../sass/partials/page/modules/property-search-results.scss */
.search-results .header:hover .share-button--share {
  background-image: url(../../images/listings/share-icon-white.png);
}
/* line 250, ../../../../sass/partials/page/modules/property-search-results.scss */
.search-results .share-buttons {
  display: inline-block;
  float: right;
  padding-top: 5px;
  width: 40%;
}
/* line 256, ../../../../sass/partials/page/modules/property-search-results.scss */
.search-results .share-buttons .share-block {
  margin-left: 15px;
  display: inline-block;
  float: right;
}
/* line 262, ../../../../sass/partials/page/modules/property-search-results.scss */
.search-results .share-buttons .share-link--heart {
  float: right;
}
/* line 266, ../../../../sass/partials/page/modules/property-search-results.scss */
.search-results .share-buttons .share-button--heart {
  display: inline-block;
  background-image: url(../../images/listings/heart-icon-purple.png);
  background-repeat: no-repeat;
  background-size: 24px 20px;
  height: 20px;
  width: 24px;
  vertical-align: middle;
}
/* line 277, ../../../../sass/partials/page/modules/property-search-results.scss */
.search-results .share-buttons .share-button--share {
  display: inline-block;
  background-image: url(../../images/listings/share-icon-purple.png);
  background-repeat: no-repeat;
  background-size: 23px 20px;
  height: 20px;
  width: 23px;
  vertical-align: middle;
}
/* line 287, ../../../../sass/partials/page/modules/property-search-results.scss */
.search-results .share-buttons p {
  display: inline-block;
  font-family: OpenSans Regular;
  font-size: 11px;
}
/* line 294, ../../../../sass/partials/page/modules/property-search-results.scss */
.search-results .right-col, .search-results .left-col {
  float: left;
  position: relative;
  overflow: hidden;
  margin-bottom: 10px;
  max-height: 200px;
}
/* line 302, ../../../../sass/partials/page/modules/property-search-results.scss */
.search-results .left-col {
  width: 60%;
}
/* line 306, ../../../../sass/partials/page/modules/property-search-results.scss */
.search-results .right-col {
  width: 40%;
}
/* line 310, ../../../../sass/partials/page/modules/property-search-results.scss */
.search-results .left-col {
  padding-right: 10px;
  box-sizing: border-box;
}
/* line 314, ../../../../sass/partials/page/modules/property-search-results.scss */
.search-results .left-col img {
  max-height: 230px;
  width: 100%;
}
/* line 319, ../../../../sass/partials/page/modules/property-search-results.scss */
.search-results .left-col .photo-count {
  position: absolute;
  bottom: 10px;
  left: 0;
  background: rgba(10, 10, 10, 0.7);
  padding: 0 10px;
  font-family: 'Oswald Regular';
  color: #ffffff;
  font-size: 11.96px;
  /* Approximation due to font substitution */
  font-weight: 400;
  line-height: 23.91px;
  /* Approximation due to font substitution */
  text-align: left;
}
/* line 334, ../../../../sass/partials/page/modules/property-search-results.scss */
.search-results .left-col .photo-arrows {
  display: none;
}
/* line 339, ../../../../sass/partials/page/modules/property-search-results.scss */
.search-results .property-info {
  border-radius: 5px;
  overflow: hidden;
}
/* line 343, ../../../../sass/partials/page/modules/property-search-results.scss */
.search-results .property-info .row1, .search-results .property-info .row2, .search-results .property-info .row3, .search-results .property-info .row4 {
  width: 100%;
  display: block;
  overflow: hidden;
}
/* line 349, ../../../../sass/partials/page/modules/property-search-results.scss */
.search-results .property-info .row1 p, .search-results .property-info .row2 p, .search-results .property-info .row3 p, .search-results .property-info .row4 p {
  padding: 5px 15px;
  text-align: center;
  float: left;
  box-sizing: border-box;
  background: rgba(10, 10, 10, 0.1);
  border-top: 1px solid white;
}
/* line 359, ../../../../sass/partials/page/modules/property-search-results.scss */
.search-results .property-info .row1, .search-results .property-info .row4 {
  text-align: center;
}
/* line 362, ../../../../sass/partials/page/modules/property-search-results.scss */
.search-results .property-info .row1 p, .search-results .property-info .row4 p {
  float: left;
  font-size: 12px;
  font-family: 'OpenSans Regular';
}
/* line 371, ../../../../sass/partials/page/modules/property-search-results.scss */
.search-results .property-info .row2 p, .search-results .property-info .row3 p {
  padding-bottom: 1005px;
  margin-bottom: -1000px;
  width: 50%;
  float: left;
  box-sizing: border-box;
  font-size: 12px;
  font-family: 'OpenSans Regular';
  border-top: 1px solid white;
}
/* line 382, ../../../../sass/partials/page/modules/property-search-results.scss */
.search-results .property-info .row2 p:nth-child(1), .search-results .property-info .row3 p:nth-child(1) {
  border-right: 1px solid white;
}
/* line 387, ../../../../sass/partials/page/modules/property-search-results.scss */
.search-results .property-info .description {
  display: none;
}
/* line 394, ../../../../sass/partials/page/modules/property-search-results.scss */
.search-results .row1 .price {
  width: 100%;
  font-weight: 700;
}
/* line 399, ../../../../sass/partials/page/modules/property-search-results.scss */
.search-results .row1 .house-type {
  display: none;
}
/* line 404, ../../../../sass/partials/page/modules/property-search-results.scss */
.search-results .row4 {
  max-height: 75px;
}
/* line 407, ../../../../sass/partials/page/modules/property-search-results.scss */
.search-results .row4 .house-type {
  display: block;
  width: 100%;
}
/* line 413, ../../../../sass/partials/page/modules/property-search-results.scss */
.search-results .property-info {
  display: block;
  box-sizing: border-box;
}
/* line 418, ../../../../sass/partials/page/modules/property-search-results.scss */
.search-results .realtor-info {
  max-height: 68px;
  display: inline-block;
  width: 100%;
}
/* line 425, ../../../../sass/partials/page/modules/property-search-results.scss */
.search-results .realtor-info--right {
  text-align: center;
}
/* line 429, ../../../../sass/partials/page/modules/property-search-results.scss */
.search-results .realtor-info--left, .search-results .realtor-info--right, .search-results .realtor-info--middle {
  float: left;
  box-sizing: border-box;
}
/* line 434, ../../../../sass/partials/page/modules/property-search-results.scss */
.search-results .realtor-info--middle {
  width: 20%;
  padding: 0 15px;
}
/* line 438, ../../../../sass/partials/page/modules/property-search-results.scss */
.search-results .realtor-info--middle img {
  max-width: 50px;
  max-height: 60px;
}
/* line 444, ../../../../sass/partials/page/modules/property-search-results.scss */
.search-results .realtor-info--left {
  padding-top: 15px;
  width: 43%;
  position: relative;
}
/* line 449, ../../../../sass/partials/page/modules/property-search-results.scss */
.search-results .realtor-info--left .realtor-company {
  max-height: 100%;
  max-width: 125px;
}
/* line 455, ../../../../sass/partials/page/modules/property-search-results.scss */
.search-results .realtor-info--right {
  padding-top: 13px;
  width: 37%;
}
/* line 459, ../../../../sass/partials/page/modules/property-search-results.scss */
.search-results .realtor-info--right .realtor-contact {
  margin-bottom: 10px;
  padding: 5px;
  background: #2e1460;
  color: white;
  border: none;
  border-radius: 2px;
  font-family: 'OpenSans Regular';
  color: #ffffff;
  font-size: 12.95px;
  /* Approximation due to font substitution */
  font-weight: 700;
  line-height: 17.933px;
  /* Approximation due to font substitution */
  text-align: left;
}
/* line 475, ../../../../sass/partials/page/modules/property-search-results.scss */
.search-results .realtor-info--right .realtor-name {
  font-family: Arial;
  color: #000000;
  font-size: 11.96px;
  font-weight: 700;
  line-height: 16px;
  text-align: center;
}
/* line 485, ../../../../sass/partials/page/modules/property-search-results.scss */
.search-results .adSlot-right {
  display: none;
}
/* line 489, ../../../../sass/partials/page/modules/property-search-results.scss */
.search-results .adSlot-left {
  margin: 10px auto;
}

@media (min-width: 768px) {
  /* line 497, ../../../../sass/partials/page/modules/property-search-results.scss */
  .related-articles--mobile {
    display: none;
  }

  /* line 504, ../../../../sass/partials/page/modules/property-search-results.scss */
  .search-results .serp__mobile-button-dock {
    display: none;
  }
  /* line 508, ../../../../sass/partials/page/modules/property-search-results.scss */
  .search-results .adSlots {
    margin: 10px 0;
    position: relative;
  }
  /* line 512, ../../../../sass/partials/page/modules/property-search-results.scss */
  .search-results .adSlots .adSlot {
    width: 100%;
    box-sizing: border-box;
    margin-left: auto !important;
    margin-right: auto !important;
    width: 300px;
    float: none;
  }
  /* line 522, ../../../../sass/partials/page/modules/property-search-results.scss */
  .search-results .adSlot-left, .search-results .adSlot-right {
    min-height: 250px;
    min-width: 300px;
  }
  /* line 527, ../../../../sass/partials/page/modules/property-search-results.scss */
  .search-results .adSlot-left {
    margin-bottom: 10px !important;
  }
  /* line 531, ../../../../sass/partials/page/modules/property-search-results.scss */
  .search-results .adSlot-right {
    display: block;
  }
  /* line 535, ../../../../sass/partials/page/modules/property-search-results.scss */
  .search-results .search-results__summary-count {
    display: block;
  }
  /* line 539, ../../../../sass/partials/page/modules/property-search-results.scss */
  .search-results .search-summary-header {
    display: block;
    font-family: 'OpenSans Regular';
    font-size: 26px;
    font-weight: 600;
    padding: 0;
  }
  /* line 547, ../../../../sass/partials/page/modules/property-search-results.scss */
  .search-results .filter-drop {
    display: none;
  }
  /* line 551, ../../../../sass/partials/page/modules/property-search-results.scss */
  .search-results__summary {
    text-align: left;
  }
  /* line 555, ../../../../sass/partials/page/modules/property-search-results.scss */
  .search-results__filter-bar, .search-results__filter-bar-bottom {
    height: auto;
    position: relative;
    display: block;
    width: 100%;
    padding: 16px;
    margin-bottom: 5px;
    box-sizing: border-box;
    background: #dacef1;
  }
  /* line 565, ../../../../sass/partials/page/modules/property-search-results.scss */
  .search-results__filter-bar p, .search-results__filter-bar-bottom p {
    display: block;
    font-family: 'OpenSans Semibold';
    font-size: 11px;
    font-weight: 400;
  }
  /* line 572, ../../../../sass/partials/page/modules/property-search-results.scss */
  .search-results__filter-bar .sort-drop, .search-results__filter-bar-bottom .sort-drop {
    display: block;
    right: 5px;
    left: initial;
  }
  /* line 580, ../../../../sass/partials/page/modules/property-search-results.scss */
  .search-results__filter-bar-bottom {
    background: none;
  }
  /* line 583, ../../../../sass/partials/page/modules/property-search-results.scss */
  .search-results__filter-bar-bottom p {
    display: inline-block;
    vertical-align: middle;
  }
  /* line 588, ../../../../sass/partials/page/modules/property-search-results.scss */
  .search-results__filter-bar-bottom .results-pag-nav {
    float: right;
    position: relative;
  }
  /* line 592, ../../../../sass/partials/page/modules/property-search-results.scss */
  .search-results__filter-bar-bottom .results-pag-nav p {
    width: 60px;
    position: absolute;
    right: 25px;
    top: 3px;
    font-family: 'OpenSans Regular';
    margin: 0 5px;
  }
  /* line 601, ../../../../sass/partials/page/modules/property-search-results.scss */
  .search-results__filter-bar-bottom .results-pag-nav span:first-child {
    padding: 0 10px;
    background: #c8c8c8;
    border-radius: 3px;
  }
  /* line 608, ../../../../sass/partials/page/modules/property-search-results.scss */
  .search-results__filter-bar-bottom .results-pag-nav-left {
    position: absolute;
    right: 105px;
    height: 20px;
    width: 20px;
    transform: rotate(90deg);
  }
  /* line 616, ../../../../sass/partials/page/modules/property-search-results.scss */
  .search-results__filter-bar-bottom .results-pag-nav-right {
    height: 20px;
    width: 20px;
    transform: rotate(270deg);
  }
  /* line 623, ../../../../sass/partials/page/modules/property-search-results.scss */
  .search-results .photo-arrows {
    display: block !important;
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 0 10px;
  }
  /* line 630, ../../../../sass/partials/page/modules/property-search-results.scss */
  .search-results .photo-arrows .photo-arrow-right, .search-results .photo-arrows .photo-arrow-left {
    display: inline-block;
    height: 15px;
    width: 15px;
    box-sizing: border-box;
  }
  /* line 637, ../../../../sass/partials/page/modules/property-search-results.scss */
  .search-results .photo-arrows .photo-arrow-right:hover, .search-results .photo-arrows .photo-arrow-left:hover {
    border: 1px solid white;
  }
  /* line 641, ../../../../sass/partials/page/modules/property-search-results.scss */
  .search-results .photo-arrows .photo-arrow-right {
    -ms-transform: rotate(180deg);
    /* IE 9 */
    -webkit-transform: rotate(180deg);
    /* Chrome, Safari, Opera */
    transform: rotate(180deg);
  }
  /* line 650, ../../../../sass/partials/page/modules/property-search-results.scss */
  .search-results .row1 .house-type {
    display: block;
    width: 50%;
  }
  /* line 655, ../../../../sass/partials/page/modules/property-search-results.scss */
  .search-results .row1 p {
    width: 50%;
    float: right;
    box-sizing: border-box;
  }
  /* line 661, ../../../../sass/partials/page/modules/property-search-results.scss */
  .search-results .row1 .price {
    width: 50%;
    border-right: 1px solid white;
  }
  /* line 669, ../../../../sass/partials/page/modules/property-search-results.scss */
  .search-results .row4 .description {
    display: block;
    text-align: left !important;
  }
  /* line 674, ../../../../sass/partials/page/modules/property-search-results.scss */
  .search-results .row4 .house-type {
    display: none;
  }
  /* line 679, ../../../../sass/partials/page/modules/property-search-results.scss */
  .search-results .left-col {
    width: 40%;
  }
  /* line 683, ../../../../sass/partials/page/modules/property-search-results.scss */
  .search-results .right-col {
    width: 60%;
    height: auto;
  }
  /* line 689, ../../../../sass/partials/page/modules/property-search-results.scss */
  .search-results .realtor-info {
    float: right;
    width: 60%;
  }
}
/* line 696, ../../../../sass/partials/page/modules/property-search-results.scss */
.serp-map-button {
  display: inline-block;
  float: right;
  margin-top: -7px;
  color: #2e1460;
}
/* line 702, ../../../../sass/partials/page/modules/property-search-results.scss */
.serp-map-button .serp-map-icon {
  height: 30px;
  margin-right: 7px;
  vertical-align: middle;
}

@media (min-width: 960px) {
  /* line 713, ../../../../sass/partials/page/modules/property-search-results.scss */
  .adSlots .adSlot {
    display: inline-block;
    margin-bottom: 0;
  }
  /* line 719, ../../../../sass/partials/page/modules/property-search-results.scss */
  .adSlots .adSlot-right img {
    margin-left: 35px;
  }
}

/*# sourceMappingURL=property-search-results.css.map */
