<div class="nav-profile-mod reverse">
	<header class="nav-profile-hdr">
		<a class="nav-profile-avatar-mod art-bd" href="#URL:UserProfile">
			<i class="nav-avatar nav-avatar-dd"></i>
		</a> <!-- /art-bd -->
		<div class="nav-profile-txt-mod txt-bd">
			<h3 class="nav-profile-greeting"><a href="#URL:UserProfile">Hi Tito!</a></h4>		
			<h4 class="nav-username"><a href="#URL:UserProfile">User1234</a></h4>
		</div> <!-- /txt-bd -->
	</header>
	<ul class="nav-profile-list">
		<li class="toc-item nav-profile-item"><a href="#URL:UserProfile">Profile</a></li>
		<li class="toc-item nav-profile-item"><a href="#URL:UserSettings">Settings</a></li>
		<li class="toc-item nav-profile-item"><a href="#URL:UserLogOut">Log Out</a></li>
	</ul>
</div> <!-- /nav-profile-mod -->