
				<div class="site-width">

					<!-- Quick Teases -->
					<div class="primary">
						<div class="inner">
							<section class="quick-tz-mod process-me" data-type="quick" data-repeat="7" data-order="fixed">
							</section> <!-- /quick-tz-mod -->
						</div> <!-- /inner -->
					</div> <!-- /primary -->

					<!-- Feature Teases -->
					<div class="l-secondary feat-tz-fader">
						<section class="feat-tz-mod" data-transition="slide">
							<div class="feat-tz-scroller process-me" data-type="taboola" data-ups-template="feature" data-repeat="4" data-dynamic></div>
						</section> <!-- /feat-tz-mod -->
					</div> <!-- l-secondary -->

					<!-- Quick Teases -->
					<div class="primary">
						<div class="inner">
							<section class="quick-tz-mod process-me" data-type="quick" data-repeat="38" data-order="fixed">
							</section> <!-- /quick-tz-mod -->

							<section id="quick-infinity" class="quick-tz-mod infinity" data-type="quick" data-repeat="10" data-ad="quick-ad-config">
							</section>

						</div> <!-- /inner -->
					</div> <!-- /primary -->

					<!-- Feature Teases -->
					<div class="l-secondary feat-tz-fader">
						<section class="feat-tz-mod" data-transition="slide">
							<div class="feat-tz-scroller process-me" data-type="feature" data-repeat="20" data-dynamic></div>
						</section> <!-- /feat-tz-mod -->
						<section class="feat-tz-mod feat-tz-infinity-mod">
							<div id="feat-infinity" class="feat-tz-scroller infinity" data-type="feature" data-repeat="5" data-ad="feat-ad-config" data-dynamic></div>
						</section> <!-- /feat-tz-mod -->
					</div> <!-- l-secondary -->

				</div> <!-- /article-ftr -->

				<!-- Scroll to Top Button -->
				<a class="to-top-btn is-off" href="#top"><i class="top-top-arrow"></i>Back to Top</a>
