/* line 4, ../sass/realestatelistings.scss */
body {
  margin: 0;
  padding: 0;
}

/* line 10, ../sass/realestatelistings.scss */
.mplistings-dropdown .select2-search {
  display: none !important;
}
/* line 14, ../sass/realestatelistings.scss */
.mplistings-dropdown .select2-drop, .mplistings-dropdown #select2-drop {
  color: #fff;
  width: 256px !important;
  background: #eee !important;
  border-radius: 0px !important;
  border: 0px !important;
}
/* line 22, ../sass/realestatelistings.scss */
.mplistings-dropdown .select2-results .select2-result-label {
  background: #eee;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 200;
  font-size: 17px;
  color: #2d2d2d;
}
/* line 30, ../sass/realestatelistings.scss */
.mplistings-dropdown .select2-results {
  margin: 0 0 0 0 !important;
}
/* line 33, ../sass/realestatelistings.scss */
.mplistings-dropdown .select2-results li {
  margin: 0 0 0 0;
}
/* line 36, ../sass/realestatelistings.scss */
.mplistings-dropdown .select2-results .select2-result-label:hover {
  background: #cdcdcd;
}
/* line 40, ../sass/realestatelistings.scss */
.mplistings-dropdown ul#select2-results-1 {
  padding: 0 0 0 0;
}

/* line 45, ../sass/realestatelistings.scss */
a, img {
  outline: none;
  border: 0;
}

/* line 50, ../sass/realestatelistings.scss */
.overflowVisible {
  overflow: visible !important;
}

/* line 54, ../sass/realestatelistings.scss */
.row {
  clear: both;
  min-height: 10px;
  overflow: hidden;
}

/* line 59, ../sass/realestatelistings.scss */
.col {
  float: left;
}

/* line 63, ../sass/realestatelistings.scss */
.mplistings {
  max-width: 300px;
  min-height: 250px;
  position: relative;
  overflow-x: hidden;
  /*border: 1px solid green;*/
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  font-size: 1.5em;
}
/* line 73, ../sass/realestatelistings.scss */
.mplistings h4 {
  margin: 0 0 5% 0;
  font-family: 'Oswald Regular';
  color: #333333;
  font-size: 26px;
  /* Approximation due to font substitution */
  font-weight: 400;
  text-align: left;
}
/* line 82, ../sass/realestatelistings.scss */
.mplistings .select2-container {
  width: 100%;
  min-height: 1px;
  overflow: hidden;
  margin-bottom: 10px;
  clear: both;
}
/* line 89, ../sass/realestatelistings.scss */
.mplistings .select2-container .select2-choice {
  height: 40px;
  color: #fff;
  font-size: 17px;
  font-weight: 200;
  border-radius: 0px;
  background: #2e1460 !important;
  background-image: none;
  border-bottom: 0px;
  border-top: 0px;
  border: 0px;
}
/* line 101, ../sass/realestatelistings.scss */
.mplistings .select2-container .select2-choice .select2-arrow {
  width: 39px;
  border-radius: 0px;
  background: url(../../images/listings/arrow-icon-purple.png) center center no-repeat #2e1460 !important;
  border-left: 5px solid #fff;
}
/* line 107, ../sass/realestatelistings.scss */
.mplistings .select2-container .select2-choice .select2-arrow b {
  background-image: none;
}
/* line 113, ../sass/realestatelistings.scss */
.mplistings .select2-container .select2-choice > .select2-chosen {
  line-height: 40px;
  font-family: Avenir;
  color: #ffffff;
  font-size: 20px;
  /* Approximation due to font substitution */
  font-weight: 600;
  text-align: left;
}
/* line 123, ../sass/realestatelistings.scss */
.mplistings .navigation {
  text-align: center;
}
/* line 126, ../sass/realestatelistings.scss */
.mplistings .navigation a:nth-child(1) {
  margin-right: 20px;
}
/* line 130, ../sass/realestatelistings.scss */
.mplistings .navigation .nav-arrow {
  width: 15px;
  height: 30px;
  overflow: hidden;
}
/* line 136, ../sass/realestatelistings.scss */
.mplistings .navigation .down-arrow {
  -moz-transform: rotate(270deg);
  /* Safari and Chrome */
  -webkit-transform: rotate(270deg);
  /* Opera */
  -o-transform: rotate(270deg);
  /* IE9 */
  -ms-transform: rotate(270deg);
}
/* line 146, ../sass/realestatelistings.scss */
.mplistings .navigation .up-arrow {
  -moz-transform: rotate(90deg);
  /* Safari and Chrome */
  -webkit-transform: rotate(90deg);
  /* Opera */
  -o-transform: rotate(90deg);
  /* IE9 */
  -ms-transform: rotate(90deg);
}
/* line 157, ../sass/realestatelistings.scss */
.mplistings .scrollFadeWrapper {
  width: 332px;
  /*height: 771px;*/
  overflow: hidden;
  overflow-y: scroll;
}
/* line 164, ../sass/realestatelistings.scss */
.mplistings .fade-overlay {
  width: 100%;
  height: 40px;
  z-index: 1;
  position: absolute;
  bottom: 90px;
  left: 0;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(bottom, white 0%, rgba(255, 255, 255, 0) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, rgba(255, 255, 255, 0)));
  background: -webkit-linear-gradient(bottom, white 0%, rgba(255, 255, 255, 0) 100%);
  background: -o-linear-gradient(bottom, white 0%, rgba(255, 255, 255, 0) 100%);
  background: -ms-linear-gradient(bottom, white 0%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(to top, white 0%, rgba(255, 255, 255, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 );
}
/* line 182, ../sass/realestatelistings.scss */
.mplistings .scrollWrapper {
  width: 334px;
  height: 100%;
  overflow-x: auto;
  position: relative;
  padding-bottom: 6px;
}
/* line 189, ../sass/realestatelistings.scss */
.mplistings .scrollWrapper .listing-container {
  width: 100%;
  max-height: 100%;
  overflow: hidden;
  overflow-y: scroll;
}
/* line 195, ../sass/realestatelistings.scss */
.mplistings .scrollWrapper .listing-container .property.template {
  display: none;
}
/* line 197, ../sass/realestatelistings.scss */
.mplistings .scrollWrapper .listing-container .property {
  display: inline-block;
  float: left;
  width: 145px;
  height: 178px;
  margin-bottom: 10px;
}
/* line 204, ../sass/realestatelistings.scss */
.mplistings .scrollWrapper .listing-container .property img {
  width: 145px;
  height: 113px;
}
/* line 209, ../sass/realestatelistings.scss */
.mplistings .scrollWrapper .listing-container .property .top-level__details {
  width: 100%;
  height: 113px;
  margin-bottom: 4px;
  position: relative;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.7);
}
/* line 218, ../sass/realestatelistings.scss */
.mplistings .scrollWrapper .listing-container .property__label__for-sale {
  display: inline-block;
  padding: 0.25% 3.5%;
  background: #fff;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 11px;
  color: #000;
  position: absolute;
  left: 0;
  top: 6%;
  z-index: 100;
}
/* line 235, ../sass/realestatelistings.scss */
.mplistings .scrollWrapper .listing-container .property__bottom-overlay {
  width: 94%;
  height: 18px;
  padding: 4px 3%;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  clear: both;
  overflow: hidden;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 100;
}
/* line 251, ../sass/realestatelistings.scss */
.mplistings .scrollWrapper .listing-container .property__price {
  font-size: 40%;
  float: left;
  font-family: 'OpenSans';
  color: #ffffff;
  font-size: 12px;
  /* Approximation due to font substitution */
  font-weight: 700;
  text-align: right;
}
/* line 261, ../sass/realestatelistings.scss */
.mplistings .scrollWrapper .listing-container .property__time {
  display: none;
  font-size: 40%;
  float: right;
  font-family: 'OpenSans';
  color: #ffffff;
  font-size: 10px;
  /* Approximation due to font substitution */
  font-weight: 600;
  text-align: right;
}
/* line 273, ../sass/realestatelistings.scss */
.mplistings .scrollWrapper .listing-container .property .bottom-level__details {
  color: #000;
  font-size: 45%;
  font-family: 'OpensSans';
  font-weight: 400;
}
/* line 279, ../sass/realestatelistings.scss */
.mplistings .scrollWrapper .listing-container .property .bottom-level__details div {
  background: #e5e5e5;
}
/* line 283, ../sass/realestatelistings.scss */
.mplistings .scrollWrapper .listing-container .property__bed-and-baths {
  font-size: 45%;
}
/* line 287, ../sass/realestatelistings.scss */
.mplistings .scrollWrapper .listing-container .property__address {
  width: 70%;
  padding: 3% 27% 3% 3%;
  min-height: 33px;
  max-height: 33px;
  margin-bottom: 1px;
  line-height: 1.25em;
  font-family: 'OpenSans Semibold';
  color: #000000;
  font-size: 11px !important;
  /* Approximation due to font substitution */
  font-weight: 600;
  text-align: left;
}
/* line 301, ../sass/realestatelistings.scss */
.mplistings .scrollWrapper .listing-container .property__address:before, .mplistings .scrollWrapper .listing-container .property__address:after {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
/* line 307, ../sass/realestatelistings.scss */
.mplistings .scrollWrapper .listing-container .property__bedrooms, .mplistings .scrollWrapper .listing-container .property__baths {
  width: 49%;
  min-height: 33%;
  padding: 2% 0 3% 0;
  font-family: 'OpenSans';
  color: #000000;
  font-size: 11px;
  /* Approximation due to font substitution */
  font-weight: 400;
  line-height: 11.955px;
  /* Approximation due to font substitution */
  text-align: center;
}
/* line 319, ../sass/realestatelistings.scss */
.mplistings .scrollWrapper .listing-container .property__bedrooms {
  border-right: 1px solid #fff;
}
/* line 323, ../sass/realestatelistings.scss */
.mplistings .scrollWrapper .listing-container .property__baths {
  width: 49%;
  min-height: 33%;
  padding: 2% 0 3% 0;
}
/* line 330, ../sass/realestatelistings.scss */
.mplistings .scrollWrapper .listing-container .property:nth-child(odd) {
  margin-left: 10px;
}
/* line 336, ../sass/realestatelistings.scss */
.mplistings .view-all {
  display: block;
  width: 100%;
  padding: 3% 0 2.5% 0;
  margin: 10px 0;
  line-height: inherit;
  background: #ece077;
  font-family: Avenir;
  font-weight: 600;
  font-size: 0.6em;
  color: #2e1460;
  text-decoration: none;
  text-align: center;
}

@media screen and (max-width: 767px) {
  /* line 358, ../sass/realestatelistings.scss */
  .mplistings {
    max-width: 300px;
    overflow: hidden;
  }
  /* line 362, ../sass/realestatelistings.scss */
  .mplistings .navigation {
    display: none;
  }
  /* line 366, ../sass/realestatelistings.scss */
  .mplistings .hScrollWrapper {
    height: 172px;
    overflow: hidden;
  }
  /* line 371, ../sass/realestatelistings.scss */
  .mplistings .scrollFadeWrapper {
    display: block;
    position: relative;
    overflow-x: auto;
  }
  /* line 377, ../sass/realestatelistings.scss */
  .mplistings .fade-overlay {
    display: block;
    width: 15px;
    height: 100%;
    top: 0;
    right: 0;
    left: initial;
    bottom: initial;
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(right, white 0%, rgba(255, 255, 255, 0) 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, right top, right top, color-stop(0%, white), color-stop(100%, rgba(255, 255, 255, 0)));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(right, white 0%, rgba(255, 255, 255, 0) 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(right, white 0%, rgba(255, 255, 255, 0) 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(right, white 0%, rgba(255, 255, 255, 0) 100%);
    /* IE10+ */
    background: linear-gradient(to left, white 0%, rgba(255, 255, 255, 0) 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 );
    /* IE6-8 */
  }
  /* line 398, ../sass/realestatelistings.scss */
  .mplistings .scrollWrapper {
    width: 1680px;
    overflow-x: auto;
  }
  /* line 402, ../sass/realestatelistings.scss */
  .mplistings .scrollWrapper .listing-container {
    width: 1680px;
  }
  /* line 405, ../sass/realestatelistings.scss */
  .mplistings .scrollWrapper .listing-container .property {
    float: left;
    display: block;
    width: 136px;
    height: 168px;
    margin-right: 4px;
  }
  /* line 412, ../sass/realestatelistings.scss */
  .mplistings .scrollWrapper .listing-container .property img {
    width: 136px;
    height: 106px;
  }
  /* line 417, ../sass/realestatelistings.scss */
  .mplistings .scrollWrapper .listing-container .property .top-level__details {
    height: 106px;
  }
}
@media screen and (min-width: 768px) {
  /* line 430, ../sass/realestatelistings.scss */
  .mplistings .scrollWrapper {
    height: 771px;
    overflow-x: initial;
    overflow-y: scroll;
  }
}

/*# sourceMappingURL=realestatelistings.css.map */
