<div class="nav-search-mod">
	<div class="l-nav-search site-width">
		<div class="nav-search-ad-mod">
			<img class="nav-search-ad" src="assets/ads/sponsor-2.jpg"/>
		</div>
		<form class="nav-search-form">		
			<input class="nav-search-form-input" type="text" placeholder="Search stories or sections"> </input>
			<button type="submit" class="submit-btn nav-search-btn" value="Search"> </button>
		</form> <!-- /nav-search-form -->
	</div> <!-- /l-nav-search -->
</div> <!-- /nav-search-mod -->