<!-- Main Nav -->
<nav class="main-nav">
	<div class="main-nav-inner">
		<div class="nav-left-ear">
			<a class="toc-trigger js-toc-trigger nav-btn" href="#">
				<div class="toc-trigger-icon"></div>
				<h4 class="toc-trigger-label">Sections</h4>
			</a><!-- /sec-nav -->
		</div> <!-- /nav-left-ear -->

		<a href="/index.html" class="bcom-logo">
			<img class="bcom-logo-img" src="/assets/icons/bcom-logo.svg" alt="boston.com"/>
		</a><!-- /bcom-logo -->

		<div class="nav-right-ear">
			<a class="nav-search-trigger js-search-trigger nav-btn" href="#">
				<i class="nav-search-label">Search</i>
				<i class="nav-search-icon"></i>
			</a> <!-- /search-form -->

			<a class="nav-profile-trigger js-profile-trigger nav-btn" href="#URL:trigger-user-id-nav">
				<i class="nav-profile-close"></i>
				<i class="nav-avatar nav-avatar-ear"></i><h4 class="nav-username a11y-only">User1234</h4>
			</a><!-- /nav-profile-trigger -->
		</div> <!-- /nav-right-ear -->
	</div> <!-- /main-nav-inner -->
</nav><!-- /main-nav -->