<nav class="toc-mod reverse">
	<form class="toc-form"><!-- on means open nav -->
		<input class="toc-search-input nav-label" type="text" placeholder="Search stories or sections"> </input>
		<input type="submit" class="toc-search-btn toc-search-icon" value="Search"> </input>
	</form> <!-- /toc-form -->
	<div class="toc-sec-mod">
		<h3 class="toc-section-head">Sections</h3>
		<ul class ="toc-list toc-section-list">
			<li class="toc-item toc-hp">
				<a href="index.html">Home</a>
			</li>
			<li class="toc-item toc-news">
				<a href="index.html#news">News</a>
			</li>
			<li class="toc-item toc-sports">
				<a href="index.html#sports">Sports</a>
			</li>
			<li class="toc-item toc-ae">
				<a href="index.html#ae">Entertainment</a>
			</li>
			<li class="toc-item toc-lifestyle">
				<a href="index.html#lifestyle">Lifestyle</a>
			</li>
			<li class="toc-item toc-health">
				<a href="index.html#health">Health</a>
			</li>
			<li class="toc-item toc-your-town">
				<a href="index.html#your-town">Your Town</a>
			</li>
			<li class="toc-item toc-travel">
				<a href="index.html#travel">Travel</a>
			</li>
			<li class="toc-item toc-marketplace">
				<a href="index.html#marketplace">Marketplace</a>
			</li>
			<li class="toc-item toc-business">
				<a href="index.html#business">Money</a>
			</li>
			<li class="toc-item toc-food">
				<a href="index.html#food">Food &amp; Dining</a>
			</li>
			<li class="toc-item toc-cars">
				<a href="index.html#cars">Cars</a>
			</li>
			<li class="toc-item toc-jobs">
				<a href="index.html#jobs">Jobs</a>
			</li>
			<li class="toc-item toc-real-estate">
				<a href="index.html#real-estate">Real Estate</a>
			</li>
		</ul> <!-- /toc-section-list -->
	</div> <!-- /toc-sec-mod -->
	<div class="toc-shortcut-mod">
		<h3 class="toc-section-head">Shortcuts</h3>
		<ul class ="toc-list toc-shortcut-list">
			<li class="toc-item toc-extra-bases">
				<a href="index.html#extra-bases">Extra Bases</a>
			</li>
			<li class="toc-item toc-love-letters">
				<a href="index.html#love-letters">Love Letters</a>
			</li>
			<li class="toc-item toc-crossword">
				<a href="index.html#crossword">Crossword</a>
			</li>
			<li class="toc-item toc-obituaries">
				<a href="index.html#obituaries">Obituaries</a>
			</li>
			<li class="toc-item toc-big-pic">
				<a href="index.html#big-pic">The Big Picture</a>
			</li>
			<li class="toc-item toc-video">
				<a href="index.html#video">Video</a>
			</li>
		</ul> <!-- /toc-shortcut-list -->
	</div> <!-- /toc-shortcut-mod -->

	<div class="toc-sites-mod">
		<h3 class="toc-section-head">Sister Sites</h3>
		<ul class ="toc-sister-list">
			<li class="sister-item toc-radiobdc">
				<a href="index.html#radiobdc">
					<div class="radiodbc-logo sister-logo">RadioBDC</div>
					<p class="sister-txt radio-txt">Streaming today's top alternative music &amp; more</p>
				</a>
			</li>
			<li class="sister-item toc-hive">
				<a href="index.html#hive">
					<div class="hive-logo sister-logo">TheHive</div>
					<p class="sister-txt radio-txt">Your one-stop source for local innovation news</p>
				</a>
			</li>
			<li class="sister-item toc-projectx">
				<a href="index.html#projectx">
					<div class="projectx-logo sister-logo">ProjectX</div>
					<p class="sister-txt radio-txt">Short tagline that begins to explain what this is</p>
				</a>
			</li>
			<li class="sister-item toc-globe">
				<a href="index.html#globe">
					<div class="globe-logo sister-logo">The Boston Globe</div>
					<p class="sister-txt radio-txt">News, sports &amp; more from the state's leading source</p>
				</a>
			</li>
        </ul> <!-- /toc-sister-list -->
        <footer class="nav-ftr">
			<ul class="sm-icon-list">
				<li><a href="#URL:twitter" class="twitter-icon sm-icons"></a></li>
				<li><a href="#URL:facebook" class="facebook-icon sm-icons"></a></li>
				<li><a href="#URL:google" class="google-icon sm-icons"></a></li>
            </ul>
			<ul class="ftr-info list-horiz ftr-text">
				<li class="list-item nav-ftr-item"><a href="#URL:privacy">Privacy Policy</a></li>
				<li class="list-item nav-ftr-item"><a href="#URL:contact">Contact</a></li>
			</ul>
            <p class="nav-copyright ftr-text">&copy;2013 Boston.com</p>
        </footer> <!-- /nav-ftr -->

        <!-- Article Banner Ad -->
        <div class="ad-banner-mod ad-nav-banner-mod">
            <img class="ad-banner ad-nav-banner" src="/assets/ads/banner-1.jpg" />
		</div>
</nav> <!-- /toc-mod -->