// *
// * DFP Ads - New Homes
// *

$module-name: 'adplaceholer__right-column';
$default-adplaceholder-height: 320px;

// ------------------------------------------------------------
// Default Styles
// ------------------------------------------------------------

.#{$module-name} {
	width: ($right-col-width - 2);
	height: ($default-adplaceholder-height - 2);
	border: 1px solid #ccc;
	margin-bottom: 30px;
}

@include media-query(desktop) {
	.#{$module-name} {
		width: ($right-col-width - 2);
	}
}

@include media-query(tablet) {
	.#{$module-name} {
		
	}
}