// *
// * Content Footer
// *

$module-name: 'content-footer';

.#{$module-name} {
	@include constrain;
	font-family: OpenSans Regular;
	font-size: 15px;
	color: #333;
	padding: 20px;
	float: left;
	border-top: 2px solid #2e1460;
	
	a {
		color: #333;
		text-decoration: none;
	}
		a:hover {
			text-decoration: underline;
		}
	
	&__social-icons {
		width: 160px;
		margin: auto;
		margin-bottom: 20px;
		clear: both;
		min-height: 10px;
		overflow: hidden;

		a.icon {
			display: inline-block;
			float: left;
			width: 35px;
			height: 31px;
			text-indent: -900px;
			background: url(#{$img-path}icons/sprites/sprite_footer-social-icons.png) 0 0 no-repeat;
			margin-left: 12px;
		}
			a.icon:first-child {
				margin-left: 0px;
			}
			a.facebook {
				background-position: -47px 0;
			}
			a.rss {
				background-position: -99px 0;
			}
	}
	
	&__footer-links {
		text-align: center;
		margin-bottom: 8px;
		
		a {
			display: inline-block;
			padding-left: 25px;
		}
			a:first-child {
				padding-left: 0;
			}
	}

	&__copyright-block {
		text-align: center;
		font-size: 11px;
	}
}

// Content Footer Media Queries
@include media-query(tablet){
	.content-footer {
		
	}
}