$module-name: 'real-estate-news';
$graphicsPath: '../../images/';

body{
  margin: 0;
  padding: 0;
}

a, img{
  outline: none;
  border: 0;
}

.#{$module-name}{
	width: 100%;
	min-height: 250px;
	overflow: hidden;
	clear: both;
	
	font-family: OpenSans Regular;
	font-weight: 400;
	font-size: 1em;

	&__wrapper {
		width: 300px;
	}

	&__tile {
		width: 100%;
		position: relative;
		display: inline-block;
		margin-bottom: 10px;

		.detailsWrapper {
			width: 100%;
			max-width: 300px;
			max-height: 110px;
			background-color: rgba(0, 0, 0, 0.6);
			overflow: hidden;
			position: absolute;
			bottom: 4px;
			left: 0;
			z-index: 1;

			.detailsArrow{
				display: none;
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 0 25px 20px 25px;
				border-color: rgba(0, 0, 0, 0.6) transparent;
				float: right;
			}

		    .detailsOverlay {
				width: 93%;
				max-height: 50%;
				padding: 4% 5% 3% 3%;
				color: #fff;
				font-size: 85%;
				letter-spacing: 1px;
				font-family: 'Oswald Regular', sans-serif;
				font-weight: 300;
				clear: both;

		        h1 {
					font-size: 100%;
					font-weight: 500;
					text-align: left;
					padding: 0 0 0.5em 0;
					margin: 0 0 0 0;
					clear: both;
					min-height: 10px;
					overflow: hidden;

					span.col {
						width: 60%;
					}

					.priceSpan {
						float: right;
						width: 40%;
						text-align: right;
					}
		        }

		        p {
					display: none;
					font-family: OpenSans Regular;
					font-size: 90%;
					padding: 0 0 0.5em 0;
					margin: 0 0 0 0;
		        }
		    }
	    }
	}

	&__tile:hover {

		.detailsOverlay p {
			display: block;
		}
    }

    &__category-tag-container {
		position: absolute;
		top: 10px;
		max-width: 130px;
	}

	h1{
		text-align: center;
		font-family: 'Oswald Regular', sans-serif;
		font-weight: 500;
		font-size: 1.5em;
		margin: 0 0 5% 0;
	}

	a.viewMore{
		clear: both;
		display: block;
		text-align: center;
		text-transform: capitalize;
		font-family: OpenSans Regular;
		font-weight: 400;
		color: #000;
		line-height: 1em;
		padding: 0.5em 0 0.5em 0;
		text-decoration: none;
		background: #e5e5e5;

		img {
			margin-left: 4px;
		}
	}

	a.disabledViewMore {
		opacity: 0.4;
		cursor: default;
	}
}


@include media-query(tablet) {
	.#{$module-name} {

		&__wrapper {
			width: 100%;
		}

		&__tile {
			width: 49%;
			float: left;
		}

		&__tile:nth-child(even) {
			margin-left: 2%
		}

	}
}

@include media-query(desktop) {
	.#{$module-name} {
		.adSlot {
			margin: 0;
			float: none;
			display: inline-block;
		}
	}
}