$module-name: 'real-estate-news';
$graphicsPath: '../../images/';

body{
  margin: 0;
  padding: 0;
}

a, img{
  outline: none;
  border: 0;
}

.#{$module-name}{
	width: 100%;
	min-height: 250px;
	overflow: hidden;
	clear: both;
	margin-left: 15%;
	
	font-family: OpenSans Regular;
	font-weight: 400;
	font-size: 1em;

	h1{
		text-align: center;
		font-family: 'Oswald', sans-serif;
		font-weight: 500;
		font-size: 1.5em;
		margin: 0 0 5% 0;
	}
	
	.adSlots {
		@extend .adSlots;

		.adSlot {
			margin-right: 0 !Important;
			margin-left: 0px !Important;
		}

		.adSlot:nth-child(odd) {
			margin-right: 0px !Important;
			margin-left: 0px !Important;
		}
	}

	a.viewMore{
		clear: both;
		display: block;
		text-align: center;
		text-transform: capitalize;
		font-family: OpenSans Regular;
		font-weight: 400;
		color: #000;
		line-height: 1em;
		padding: 0.5em 0 0.5em 0;
		text-decoration: none;
		background: #e5e5e5;

		img {
			margin-left: 4px;
		}
	}

	a.disabledViewMore {
		opacity: 0.4;
		cursor: default;
	}
}

@include media-query(desktop) {
	.#{$module-name} {
		width: 630px;
		margin-left: 0;

		.adSlot {
			margin-right: 30px;
			margin-left: 0px;
		}

		.adSlot:nth-child(odd) {
			margin-right: 30px;
			margin-left: 0px;
		}
	}
}

@include media-query(tablet) {
	.#{$module-name} {
		width: 630px;
		margin-left: 0;

		.adSlots {
			float: left;
			width: 630px;

			.adSlot {
				margin-right: 0 !Important;
				margin-left: 0px !Important;
			}

			.adSlot:nth-child(odd) {
				margin-right: 30px !Important;
				margin-left: 0px !Important;
			}
		}
	}
}