$module-name: 'real-estate-blog';

.#{$module-name} {
	width: 100%;
	min-height: 325px;
	margin: auto;
	padding-top: 20px;
	
	h1{
		text-align: center;
		font-family: 'Oswald', sans-serif;
		font-weight: 500;
		font-size: 1.5em;
		margin: 0 0 1.5% 0;
	}

	.adSlots {
		@extend .adSlots;

		.adSlot:hover .detailsWrapper .detailsOverlay p {
			display: block;
		}

		a.adSlot:nth-child(odd){
			margin-right: 0px;
		}
	}

	a.viewMore{
		display: block;
		text-align: center;
		text-transform: capitalize;
		font-family: 'Roboto', sans-serif;
		font-weight: 400;
		color: #000;
		line-height: 1em;
		padding: 0.5em 0 0.5em 0;
		text-decoration: none;
		background: #e5e5e5;

		img {
			margin-left: 4px;
		}
	}
}

@include media-query(desktop) {
	.#{$module-name} {
		width: ($left-col-width + $right-col-width + $right-col-right-gutter);
	}
}

@include media-query(tablet) {
	.#{$module-name} {
		width: $desktop-breakpoint;
	}
}