$module-name: 'real-estate-blog';

.#{$module-name} {
	width: 100%;
	min-height: 325px;
	margin: auto;
	
	h1{
		text-align: center;
		font-family: 'Oswald', sans-serif;
		font-weight: 500;
		font-size: 1.5em;
		margin: 0 0 1.5% 0;
	}

	.adSlots {
		display: block;
		min-height: 250px;
		overflow: hidden;
		clear: both;
		
		.adSlot {
			float: left;
			display: block;
			width: 300px;
			height: 250px;
			margin-left: 30px;
			position: relative;

			/*border: 1px solid #ccc;*/
			margin-bottom: 30px;
			
			.iconOverlay {
				position: absolute;
				z-index: 1;
			}
				.topSpacing {
					top: 3%;
				}
				.leftSpacing {
					left: 6%;
				}
			
			.detailsWrapper {
				width: 300px;
				clear: both;
				min-height: 10%;
				overflow: hidden;
				position: absolute;
				bottom: 0;
				left: 0;
				z-index: 1;

				.detailsArrow{
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 0 25px 20px 25px;
					border-color: rgba(0, 0, 0, 0.6) transparent;
					float: right;
				}

				.detailsOverlay {
					width: 93%;
					min-height: 20%;
					padding: 4% 5% 3% 3%;
					color: #fff;
					font-size: 0.7em;
					letter-spacing: 1px;
					font-family: 'Oswald', sans-serif;
					font-weight: 300;
					background-color: rgba(0, 0, 0, 0.6);
					clear: both;

					h1 {
						font-size: 120%;
						text-align: left;
						padding: 0 0 0.5em 0;
						margin: 0 0 0 0;
						line-height: 100%;
						clear: both;
						min-height: 10px;
						overflow: hidden;

						.priceSpan {
							float: right;
						}
					}
					p {
						display: none;
						line-height: 1.5em;
						padding: 0 0 0.5em 0;
						margin: 0 0 0 0;
					}
				}
			}
		}
			.adSlot:hover .detailsWrapper .detailsOverlay p {
				display: block;
			}



		a.adSlot:first-child{
			margin-left: 0;
		}
	}

	a.viewMore{
		display: block;
		text-align: center;
		text-transform: capitalize;
		font-family: 'Roboto', sans-serif;
		font-weight: 400;
		color: #000;
		line-height: 1em;
		padding: 0.5em 0 0.5em 0;
		text-decoration: none;
		background: #e5e5e5;

		img {
			margin-left: 4px;
		}
	}
}

@include media-query(desktop) {
	.#{$module-name} {
		width: ($left-col-width + $right-col-width + $right-col-right-gutter);

		
	}
}

@include media-query(tablet) {
	.#{$module-name} {
		width: $desktop-breakpoint;
	}
}