// *
// *  Module Name 
// *

$module-name: 'author-bio';

// ------------------------------------------------------------
// Default Styles
// ------------------------------------------------------------

.#{$module-name} {
  display:none;
  // Module Styles
  margin-bottom: spacer(px, mid);
  margin-bottom: spacer(rem, mid);
  @extend %clearfix;

  // Some Element Styles
  &__headshot {
    float: left;
    border-radius: 50%;
    margin-right: spacer(px, mid);
    margin-right: spacer(rem, mid);
  }
  
  &__text {
    float: left;
    @include font-scale(small);
  }
}
@include media-query(tablet){
  .#{$module-name} {
    display:block;
  }
}