$module-name: 'categorypage';
$graphicsPath: '../../graphics/';

body {
  margin: 0;
  padding: 0;
}

a, img {
  outline: none;
  border: 0;
}

.overflowVisible {
	overflow: visible !important;
}

.row {
	clear: both;
	min-height: 10px;
	overflow: hidden;
}
	.col {
		float: left;
	}

.#{$module-name} {
	min-height: 250px;
	position: relative;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 400;
	font-size: 1.5em;

	h4{
		font-family: 'Oswald', sans-serif;
		font-size: 90%;
		font-weight: 300;
		margin: 0 0 5% 0;
	}
}

@media screen and (max-width: 767px) {
	.#{$module-name} {
		
	}
}

@media screen and (min-width: 768px) {
	.#{$module-name} {
		
	}
}

