// *
// * Boston.com | Digital Marketplaces bdc-screen-dev.scss
// * Brings in all partials to generate a single CSS file
// * This file should only contain @import rules
// * Dependencies should be listed
// *

// * NOTE: This file is currently the dev file for the re-write

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// @font-face Rules
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
@import 'partials/font-face';

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// Reset Styles
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
@import 'partials/reset';

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// Base SCSS
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
@import 'base';

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// Element Default Styles
// * Dependencies: 
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
@import 'partials/element-defaults';

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// Common Assets
// * Dependencies: 
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
@import 'helpers/common-assets';

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// Page - Masthead Styles
// * Dependencies: 
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
@import 'partials/page/page-masthead';
@import 'partials/page/page-header';
@import 'partials/page/page-nav';
@import 'partials/page/page-layout';
@import 'partials/page/page-blog';
@import 'partials/page/page-footer';
@import 'partials/page/page-search';

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// Page - Footer Styles
// * Dependencies: bdc-base
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
@import 'partials/page/page-footer';

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// Page - Module Styles
// * Dependencies: bdc-base
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
@import 'partials/page/modules/listingsmap';
@import 'partials/page/modules/relatedarticles';
@import 'partials/page/modules/full-screen-carousel';
@import 'partials/page/modules/contact-form-premium';
@import 'partials/page/modules/listing-summary';
@import 'partials/page/modules/right-rail-list';
@import 'partials/page/modules/mega-menu';
@import 'partials/page/modules/property-detail';



// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// Content Styles
// * Dependencies: bdc-base
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
@import 'partials/page-content/modules/dfp-ads__new-homes';
@import 'partials/page-content/modules/adplaceholer__right-column';
@import 'partials/page-content/modules/real-estate-blog';
@import 'partials/page-content/modules/real-estate-news';
@import 'partials/page-content/modules/content-footer';
@import 'partials/page-content/modules/dfp-ads__new-homes';
@import 'partials/page-content/modules/adplaceholer__right-column';

