$module-name: 'realEstateNews';
$graphicsPath: '../../images/';

body{
  margin: 0;
  padding: 0;
}

a, img{
  outline: none;
  border: 0;
}

.#{$module-name}{
	width: 630px;
	min-height: 250px;
	/*min-height: 934px;
	border: 1px solid #ccc;*/
	overflow: hidden;
	clear: both;
	
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 1em;

	h1{
		text-align: center;
		font-family: 'Oswald', sans-serif;
		font-weight: 500;
		font-size: 1.5em;
		margin: 0 0 5% 0;
	}

	.adSlots {
		display: block;
		width: 630px;
		min-height: 250px;
		overflow: hidden;
		clear: both;
		
		.adSlot {
			float: left;
			display: block;
			width: 300px;
			height: 250px;
			position: relative;

			/*border: 1px solid #ccc;*/
			margin-bottom: 30px;
			
			.iconOverlay {
				position: absolute;
				z-index: 1;
			}
				.topSpacing {
					top: 3%;
				}
				.leftSpacing {
					left: 6%;
				}
			
			.detailsWrapper {
				width: 300px;
				clear: both;
				min-height: 10%;
				overflow: hidden;
				position: absolute;
				bottom: 0;
				left: 0;
				z-index: 1;

				.detailsArrow{
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 0 25px 20px 25px;
					border-color: rgba(0, 0, 0, 0.6) transparent;
					float: right;
				}

				.detailsOverlay {
					width: 93%;
					min-height: 20%;
					padding: 4% 5% 3% 3%;
					color: #fff;
					font-size: 0.7em;
					letter-spacing: 1px;
					font-family: 'Oswald', sans-serif;
					font-weight: 300;
					background-color: rgba(0, 0, 0, 0.6);
					clear: both;

					h1 {
						font-size: 120%;
						text-align: left;
						padding: 0 0 0.5em 0;
						margin: 0 0 0 0;
						line-height: 100%;
						clear: both;
						min-height: 10px;
						overflow: hidden;

						.priceSpan {
							float: right;
						}
					}
					p {
						display: none;
						line-height: 1.5em;
						padding: 0 0 0.5em 0;
						margin: 0 0 0 0;
					}
				}
			}
		}
			.adSlot:hover .detailsWrapper .detailsOverlay p {
				display: block;
			}



		a.adSlot:nth-child(odd){
			margin-right: 30px;
		}
	}

	a.viewMore{
		display: block;
		text-align: center;
		text-transform: capitalize;
		font-family: 'Roboto', sans-serif;
		font-weight: 400;
		color: #000;
		line-height: 1em;
		padding: 0.5em 0 0.5em 0;
		text-decoration: none;
		background: #e5e5e5;

		img {
			margin-left: 4px;
		}
	}

	a.disabledViewMore {
		opacity: 0.4;
		cursor: default;
	}
}


@media screen and (max-width: 767px) {
	.#{$module-name}{
		width: 300px;

		.adSlots {
			width: 300px;

			.adSlot {
				display: block;
				float: inherit !Important;
			}

			div:nth-child(odd){
				margin-right: 0px;
			}
		}
	}
}