$module-name: 'mplistings';
$graphicsPath: '../../images/';
$select2Path: '../../styles/css/plugins/select2/';

body{
  margin: 0;
  padding: 0;
}

.mplistings-dropdown {
	.select2-search {
		display: none !important;
	}

	.select2-drop, #select2-drop {
		color: #fff;
		width: 256px !important;
		background: #eee !important;
		border-radius: 0px !important;
		border: 0px !important;
	}

	.select2-results .select2-result-label {
		background: #eee;
		font-family: 'Roboto Condensed', sans-serif;
		font-weight: 200;
		font-size: 17px;
		color: #2d2d2d;
	}

	.select2-results {
		margin: 0 0 0 0 !important;
	}
		.select2-results li {
			margin: 0 0 0 0;
		}
			.select2-results .select2-result-label:hover {
				background: #cdcdcd;
			}

	ul#select2-results-1 {
		padding: 0 0 0 0;
	}
}

a, img{
  outline: none;
  border: 0;
}

.overflowVisible{
	overflow: visible !important;
}

.row{
	clear: both;
	min-height: 10px;
	overflow: hidden;
}
	.col{
		float: left;
	}

.#{$module-name}{
	margin-bottom: 20px;
	width: 100%;
	min-height: 250px;
	position: relative;
	/*border: 1px solid green;*/
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 400;
	font-size: 1.5em;

	h4{
		margin: 0 0 5% 0;
		font-family: 'Oswald Regular';
		color:  #333333;
		font-size: 26px; /* Approximation due to font substitution */
		font-weight: 400;
		text-align: left;
	}

	.select2-container {
		width: 100%;
		min-height: 1px;
		overflow: hidden;
		margin-bottom: 10px;
		clear: both;

		.select2-choice {
			height: 40px;
			color: #fff;
			font-size: 17px;
			font-weight: 200;
			border-radius: 0px;
			background: #2e1460 !important;
			background-image: none;
			border-bottom: 0px;
			border-top: 0px;
			border: 0px;

			.select2-arrow {
				width: 39px;
				border-radius: 0px;
				background: url(#{$graphicsPath}listings/arrow-icon-purple.png) center center no-repeat #2e1460 !important;
				border-left: 5px solid #fff;

				b {
					background: url(#{$graphicsPath}shim.gif) no-repeat 0 1px !important;
				}
			}
		}

		.select2-choice > .select2-chosen {
			line-height: 40px;
			font-family: Avenir;
			color:  #ffffff;
			font-size: 20px; /* Approximation due to font substitution */
			font-weight: 600;
			text-align: left;
		}
	}
	
	.navigation {
		text-align: center;
		height: 34px;
		.nav-arrow {
			overflow: hidden;
			height: 100%;
		}	

		#leftArrow {
			display: inline-block;
			float: left;
			width: 15%;
			height: 100%;
			box-sizing: border-box;
		}

		#rightArrow {
			display: inline-block;
			float: right;
			width: 15%;
			height: 100%;
			box-sizing: border-box;

			-moz-transform:rotate(180deg);
		    /* Safari and Chrome */
		    -webkit-transform:rotate(180deg);
		    /* Opera */
		    -o-transform:rotate(180deg);
		    /* IE9 */
		    -ms-transform:rotate(180deg);
		}

		.view-all{
			float: left;
			width: 64%;
			height: 100%;
			padding-top: 7px;
			margin: 0 3%;
			background: #ece077;
			box-sizing: border-box;
			
			font-family: Avenir;
			font-weight: 600;
			font-size: 13px;
			color: #2e1460;
			text-decoration: none;
			text-align: center;
		}
	}

	.scrollFadeWrapper {
		// width: 332px;
		/*height: 771px;*/
		overflow: hidden;
		overflow-y: scroll;
	}

	// .fade-overlay {
	// 	width: 100%;
	// 	height: 40px;
	// 	z-index: 10;
	// 	position: absolute;
	// 	bottom: 34px;
	// 	left: 0;

	// 	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	// 	background: -moz-linear-gradient(bottom,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
	// 	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0)));
	// 	background: -webkit-linear-gradient(bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
	// 	background: -o-linear-gradient(bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
	// 	background: -ms-linear-gradient(bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
	// 	background: linear-gradient(to top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
	// 	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 );
	// }

	.scrollWrapper {
		width: 334px;
		height: 100%;
		overflow-x: auto;
		position: relative;
		padding-bottom: 6px;
		
		.listing-container {
			width: 100%;
			max-height: 100%;
			overflow: hidden;
			overflow-y: scroll;
			
			.property.template { display: none; }
			
			.property {
				display: inline-block;
				/*float: left;
				height: 178px;*/
				width: 145px;
				margin-bottom: 10px;

				img {
					width: 145px;
					height: 113px;
				}

				.top-level__details {
					width: 100%;
					height: 113px;
					margin-bottom: 4px;
					position: relative;
					overflow: hidden;
					background-color: rgba(0, 0, 0, 0.7);
				}

				&__label__for-sale {
					display: inline-block;
					padding: 0.25% 3.5%;
					background: #fff;
					
					text-transform: uppercase;
					font-family: 'Oswald', sans-serif;
					font-weight: 400;
					font-size: 11px;
					color: #000;

					position: absolute;
					left: 0;
					top: 6%;
					z-index: 100;
				}

				&__bottom-overlay {
					width: 94%;
					height: 18px;
					padding: 4px 3%;
					background-color: rgba(0, 0, 0, 0.5);
					
					color: #fff;
					
					clear: both;
					overflow: hidden;
					position: absolute;
					left: 0;
					bottom: 0;
					z-index: 100;
				}

				&__price {
					font-size: 40%;
					float: left;

					font-family: 'OpenSans';
					color:  #ffffff;
					font-size: 12px; /* Approximation due to font substitution */
					font-weight: 700;
					text-align: right;
				}
				&__time {
					display: none;
					font-size: 40%;
					float: right;

					font-family: 'OpenSans';
					color:  #ffffff;
					font-size: 10px; /* Approximation due to font substitution */
					font-weight: 600;
					text-align: right;
				}

				.bottom-level__details {
					color: #000;
					font-size: 45%;
					font-family: 'OpensSans';
					font-weight: 400;
				}
					.bottom-level__details div{
						background: #e5e5e5;
					}
				
				&__bed-and-baths {
					font-size: 45%;
				}
				
				&__address {
					width: 70%;
					padding: 3% 27% 3% 3%;
					min-height: 33px;
					/*max-height: 33px;*/
					margin-bottom: 1px;
					
					line-height: 1.25em;
					font-family: 'OpenSans Semibold';
					color:  #000000;
					font-size: 11px !important; /* Approximation due to font substitution */
					font-weight: 600;
					text-align: left;
				}
				&__address:before, &__address:after {
					-moz-box-sizing: content-box;
					-webkit-box-sizing: content-box;
					box-sizing: content-box;
				}

				&__bedrooms, &__baths {
					width: 49%;
					min-height: 33%;
					padding: 2% 0 3% 0;
					font-family: 'OpenSans';
					color:  #000000;
					font-size: 11px; /* Approximation due to font substitution */
					font-weight: 400;
					line-height: 11.955px; /* Approximation due to font substitution */
					text-align: center;
				}

				&__bedrooms {
					border-right: 1px solid #fff;
				}
					
				&__baths {
					width: 49%;
					min-height: 33%;
					padding: 2% 0 3% 0;
				}
			}

			.property:nth-child(odd) {
				margin-left: 7px;
			}
		}
	}
	
}





@media screen and (max-width: 767px) {
	.#{$module-name}{
		width: 100%;
		overflow: hidden;

		.navigation {
			display: none;
		}
		
		.hScrollWrapper{
			height: 172px;
			overflow: hidden;
		}
		
		.scrollFadeWrapper {
			display: block;
			position: relative;
			overflow-x: auto;
		}
		
		.fade-overlay {
			display: block;
			width: 15px;
			height: 100%;

			top: 0;
			right: 0;
			left: initial;
			bottom: initial;

			background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
			background: -moz-linear-gradient(right,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, right top, right top, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
			background: linear-gradient(to left,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C */
		}
		
		.scrollWrapper {
			width: 1680px;
			overflow-x: auto;

			.listing-container {
				width: 1680px;

				.property {
					float: left;
					display: block;
					width: 136px;
					height: 168px;
					margin-right: 4px;

					img {
						width: 136px;
						height: 106px;
					}

					.top-level__details{
						height: 106px;
					}
				}
			}

		}
	}
}


@media screen and (min-width: 768px) {
	.#{$module-name}{
		.scrollWrapper {
			height: 771px;
			overflow-x: initial;
			overflow-y: scroll;
		}
	}
}

