/* ---------------------------------------------- */

/*	Typography						 			  */ 

/* ---------------------------------------------- */

//universal link styles

.link-secondary {
	@include link(secondary);	
}

.link-lt {
	@include link(light);
}

/* !-- Headlines/Headers ------------------------ */

.h1, .h2, .h3, .h4, .h5 {
	color: $txt-black;
	> a {
		@include link;
	}
}

.h1 {
	@include sans(em(28)/110%, 600);
	@include mq($break-sm) {
		font-size: em(38);
	}
	@include mq($break-md) {
		font-size: em(48);
	}
	@include mq($break-lg) {
		font-size: em(54);		
	}
}

.h2 {
	@include sans(em(24)/110%, 500);
	@include mq($break-md) {
		font-size: em(28);
	}
	@include mq($break-lg) {
		font-size: em(32);
	}
}

.h3 {
	@include sans(em(18)/110%, 500);
	@include mq($break-md) {
		font-size: em(21);
	}
}

.h4 {
	@include sans(em(17)/120%, 400);
	@include mq($break-md) {
		font-size: em(18);
	}
}

.h5 {
	@include sans(em(14)/120%, 600);
}


//
// Section Headers
//

.section-h2,
.section-h {
	color: #000;
	> a {
		// Direct descendent links will share master style  
  color: inherit;
  text-decoration: inherit;
  cursor: inherit;
  &:active, &:focus {
    outline: none;
  }

		&:hover {
			text-decoration: underline;
		}
	}	
}

.section-h2 {
	@include sans(em(20), 600);
	margin-bottom: 25px;	
}

// Default section header

.section-h,
.section-h3,
.section-h3-fancy {
	@include sans(em(13)/110%, 800);
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-bottom: 14px;
}

/* !-- Text ----------------------------------- */

.tz-txt {
	@include sans(em(15)/135%, 400);
	color: $txt-black;
	> a {
		@include link(light);
		&:hover {
			text-decoration: underline;
		}
	}
}

// Shared Text Styles
.txt-lg, .txt, .txt-md, .txt-sm {
	color: $txt;

	// Links will take on default style
	> a,
	> p > a {
		@include link;
		color: #2494e3;
	}	
}

.txt-lg {
	@include sans(em(17)/155%, 400);
	@include mq($break-sm) {
		font-size: em(19);
	}
	@include mq(850px) {
		font-size: em(20);
	}
	// For instances with multiple paragraphs, add margin 
	> p {
		margin-bottom: 16px;
	}	
}

.txt, .txt-md {
	@include sans(em(16)/155%, 400);
	// For instances with multiple paragraphs, add margin 
	> p {
		margin-bottom: 12px;
	}
}

.txt-sm {
	@include sans(em(13)/140%, 400);

	// For instances with multiple paragraphs, add margin 
	> p {
		margin-bottom: 10px;
	}	
}

// Caption & Credit
.caption {
	@include caption;
}

.credit {
	font-style: italic;
	font-weight: 700;
	color: #999;
}


/* !-- Misc. Type -------------------------------- */

// Set misc. text styles mixins
@mixin overline {
	@include sans(em(14)/120%, 900);
	text-transform: uppercase;
	letter-spacing: 1px;
	color: $highlight;
	> a {
		@include link(hover);		
	}	
}

@mixin source {
	font: 700 10px $serif;
	color: #bbb;
	text-transform: uppercase;
	letter-spacing: 1px;
}

// Create base classes from misc. text styles	
.src,
.source {
	@include source;
}

.overline {
	@include overline;
}

a.overline {
	@include link(hover);
}

/* !-- Bugs ----------------------																																																		------------- */

.bug {
	// Ryan P changed from inline-block mixin
	display: inline-block;
	padding: 1px 3px 2px;
	font-size: 9.75px;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
	white-space: nowrap;
	background-color: #bbb;
	border-radius: 3px;
	&.new {
		background-color: $bug-new;
	}
	&.important {
		background-color: $bug-important;
	}
	&.warning {
		background-color: $bug-warning;
	}
	&.success {
		background-color: $bug-success;
	}
	&.notice {
		background-color: $bug-notice;
	}
}