// Create Loading Effect

.loading {
  display: block;
  width: 38px;
  margin: 80px auto;
  @include absolute(33% 0 n 0);
  z-index: -1;
  .loading-stream-items & {
    position: static;
    margin-top: 20px;
    margin-bottom: 40px;
  }
}

.dot {
  display: inline-block;
  @include size(8px);
  border-radius: 8px;
  background-color: $red;
  margin-right: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}
.dot.one {
  @include animation(scale-one 1.5s infinite);
  @include animation-fill-mode(forwards);
}
.dot.two {
  @include animation(scale-two 1.5s infinite);
  @include animation-fill-mode(forwards);
}
.dot.three {
  @include animation(scale-three 1.5s infinite);
  @include animation-fill-mode(forwards);
  margin-right: 0;
}

//
// Cross-Platform CSS Animations
//

@include keyframes(scale-one) {
  0% {
    -webkit-transition: scale(0);
    -moz-transition: scale(0);
    -o-transition: scale(0);
    transform:  scale(0);
    opacity: 0;
  }

  20% {
    -webkit-transition: scale(1);
    -moz-transition: scale(1);
    -o-transition: scale(1);
    transform:  scale(1);
    opacity: 1;
  }

  80% {
    -webkit-transition: scale(1);
    -moz-transition: scale(1);
    -o-transition: scale(1);
    transform:  scale(1);
    opacity: 1;
  }

  90% {
    -webkit-transition: scale(0);
    -moz-transition: scale(0);
    -o-transition: scale(0);
    transform:  scale(0);
    opacity: 0;
  }

  100% {
    -webkit-transition: scale(0);
    -moz-transition: scale(0);
    -o-transition: scale(0);
    transform:  scale(0);
    opacity: 0;
  }
}

@include keyframes(scale-two) {
  0% {
    -webkit-transition: scale(0);
    -moz-transition: scale(0);
    -o-transition: scale(0);
    transform:  scale(0);
    opacity: 0;
  }

  20% {
    -webkit-transition: scale(0);
    -moz-transition: scale(0);
    -o-transition: scale(0);
    transform:  scale(0);
    opacity: 0;
  }

  40% {
    -webkit-transition: scale(1);
    -moz-transition: scale(1);
    -o-transition: scale(1);
    transform:  scale(1);
    opacity: 1;
  }

  80% {
    -webkit-transition: scale(1);
    -moz-transition: scale(1);
    -o-transition: scale(1);
    transform:  scale(1);
    opacity: 1;
  }

  90% {
    -webkit-transition: scale(0);
    -moz-transition: scale(0);
    -o-transition: scale(0);
    transform:  scale(0);
    opacity: 0;
  }

  100% {
    -webkit-transition: scale(0);
    -moz-transition: scale(0);
    -o-transition: scale(0);
    transform:  scale(0);
    opacity: 0;
  }
}

@include keyframes(scale-three) {
  0% {
    -webkit-transition: scale(0);
    -moz-transition: scale(0);
    -o-transition: scale(0);
    transform:  scale(0);
    opacity: 0;
  }

  40% {
    -webkit-transition: scale(0);
    -moz-transition: scale(0);
    -o-transition: scale(0);
    transform:  scale(0);
    opacity: 0;
  }

  60% {
    -webkit-transition: scale(1);
    -moz-transition: scale(1);
    -o-transition: scale(1);
    transform:  scale(1);
    opacity: 1;
  }

  80% {
    -webkit-transition: scale(1);
    -moz-transition: scale(1);
    -o-transition: scale(1);
    transform:  scale(1);
    opacity: 1;
  }

  90% {
    -webkit-transition: scale(0);
    -moz-transition: scale(0);
    -o-transition: scale(0);
    transform:  scale(0);
    opacity: 0;
  }

  100% {
    -webkit-transition: scale(0);
    -moz-transition: scale(0);
    -o-transition: scale(0);
    transform:  scale(0);
    opacity: 0;
  }
}