// *
// *  Module Name 
// *

$module-name: 'contact';

// ------------------------------------------------------------
// Default Styles
// ------------------------------------------------------------
  
/*.page-layout__right-col {
  display: none;
}

.page-layout, .page-layout__left-col {
  width: 100%;
}*/

.#{$module-name} {

}

// ------------------------------------------------------------
// Tablet Breakpoint
// ------------------------------------------------------------

// Tablet Breakpoint
@include media-query(tablet) {
  .#{$module-name} {
    
  }
}

// ------------------------------------------------------------
// Desktop Breakpoint
// ------------------------------------------------------------

@include media-query(tablet) {
  /*.page-layout {
    width: #{$desktop-breakpoint};
  }

  .page-layout__left-col {
    width: #{$left-col-width};
  }

  .page-layout__right-col {
    display: block;
  }*/

  .#{$module-name} {

    &__container {
      position: relative;
      width: 100%;
    }

    &__header {
      background: #1a93b0;
      text-align: center;
      margin-bottom: 3px;
      
      p {
        margin: 0;
        padding: 2px;
        font-size: 26px;
        font-family: 'Oswald', sans-serif;
        color: white;
        letter-spacing: 1px;

        font-family: Oswald;
        color:  #ffffff;
        font-size: 26px; /* Approximation due to font substitution */
        font-weight: 400;

      }
    }

    &__wrapper {
      background: #e9f4f6;
      padding: 20px 25px 20px 20px;
      margin-bottom: 10px;
    }

    &__agent-info {

      margin-left: 60px;
      a:link, a:visited, a:active {
        color: #1a93b0;
        text-decoration: none;
      }
      a:hover {
        text-decoration: underline;
      }
    }

    &__agent-links {
      font-family: 'Open Sans';
      margin-bottom: 0px;
      a {
        display: block;
        font-size: 13px;
        font-weight: 600;
      }
    }

    &__agent-name {
      margin: 0;
      font-family: 'Open Sans';
      font-weight: 600;
    }

    &__agent-img {
      float: left;
      height: 60px;
      width: 45px;
      margin-bottom: 10px;
    }

    &__agent-address {
      p {
        margin: 0;
        font-family: 'Open Sans';
        font-size: 11px;
      }
    }

    &__form {
      padding-bottom: 70px;

      input, textarea{
        display: inline-block;
        font-family: OpenSans;
        color: rgba(0, 0, 0, 0.5);
        font-size: 13px; /* Approximation due to font substitution */
        font-weight: 400;
        text-align: left;
        width: 100%;
        margin-bottom: 10px;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #A0A0A0;
        box-sizing: border-box;
      }

      textarea {
        height: 85px;
        margin-bottom: 15px;
      }

      button {
        padding: 5px 15px;
        background: black;
        color: white;
        border: none;
        border-radius: 2px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
        font-size: 105%;
        float: right;
      }
    }

    &__wrapper--lower {
      padding: 20px 10px 60px 20px;
      background: #e9f4f6;
    }

    &__contact-button {
      padding: 7px;
      clear: left;
      color: white;
      background: #1a93b0;
      float: right;
      border-radius: 2px;
      font-family: 'Open Sans', sans-serif;
      font-size: 11px;
      font-weight: 700;
      text-transform: uppercase;
    }

    &__required-marker {
      margin-right: -15px;
      margin-top: 15px;
      float: right;
      font-family: OpenSans;
      color: #1a93b0;
      font-size: 13px; /* Approximation due to font substitution */
      font-weight: 400;
      text-align: left;
    }

    &__form-required {
      margin: 0;
      margin-bottom: 3px;
      text-align: right;
      color: #A0A0A0;
      font-family: OpenSans;
      font-size: 12px;
      font-weight: 200;

      span {
      color: #1a93b0;
      font-size: 13px; /* Approximation due to font substitution */
      font-weight: 400;
      text-align: left;
      }
    }

    &__company {
      margin: 80px 0 40px 10px;
    }

    &__company-wrapper {
      padding: 10px 25px 20px 15px;
    }

    &__company-name {
      font-family: OpenSans;
      letter-spacing: 0px;
      color:  #000000;
      font-size: 12px; /* Approximation due to font substitution */
      font-weight: 600;
      line-height: 18px; /* Approximation due to font substitution */
      text-align: left;
    }

    &__company-note {
      font-size: 70%;
      font-weight: 200;
      margin-top: 3px;
    }

    &__company-message {
      font-weight: 200;
    }

    &__company-img {
      float: left;
      height: 60px;
      width: 90px;
    }

    &__company-info {
      margin-left: 105px;
      margin-bottom: 15px;
    }

    &__company-name {
      margin: 0;
    }
  }
}
