// *
// *  Module Name 
// *

$module-name: 'explore-widget-rail';

// ------------------------------------------------------------
// Default Styles
// ------------------------------------------------------------

.#{$module-name} {
  width: 100%;
  margin: 0 auto;

  &__container {
    position: relative;
    margin: 0 auto;
  }

  &__headline {
    font-family: 'Oswald Regular';
    color: black;
    font-size: 26px;
    font-weight: 400;
    text-align: center;
    margin: 15px 0 20px 0;
  }

  &__link-list-container{
    float: left;
    min-width: 50%;
  }

  &__sub-headline {
    text-transform: uppercase;
    margin-bottom: 5px;
  }

  &__link-list ul:nth-child(1) {
    margin-bottom: 10px;
  }

  &__link-list {
    ul {       
      font-size:  12px;
      font-family: OpenSans Regular;
      font-weight: 700;
      line-height: 24px; /* Approximation due to font substitution */
      margin: 0px;
      padding: 0 0 0 15px;
    }
  
    li {
      color: black;
    }

    a {
      color: #2e1460;
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }
  }

  &__link-slot {
    width: 100%;
    float: left;
    margin-bottom: 15px;
    padding: 10px;

    p {
      font-size: 12px;
      font-weight: 600;
    }
  }

}

@include media-query(desktop) {

  .#{$module-name} {

  }
}