// *
// *  Module Name 
// *

$module-wrapper: 'listings';
$module-name: 'listing';

// ------------------------------------------------------------
// Default Styles
// ------------------------------------------------------------

.#{$module-wrapper}{
	
	&__section-header{
		display:block;
		float: left;
		margin: 20px 0;
		font-family: "OpenSans Semibold";
		

		h1{
			display: inline-block;
			float: left;
		   font-size: 26px;
		   font-weight: normal;
		}

		span{
			display: inline-block;
			float: left;
			margin: 10px;
			font-size: 16px;
		}
	}

	&__pagination-sort{
		background: #e9f4f6;
	}
}

.#{$module-name} {

	&__breadcrumbs {
		display: none;
	}

	&__tags {
		display: none;
	}

	&__summary--left {
		width: 75%;
		padding-right: 10px;
		
		h2:nth-child(2) {
			margin-bottom: 10px;
		};
	}

	&__summary--right {
		display: none;
	}

	&__summary {
		width: 100%;
		display: inline-block;
	}

	&__address {
		font-family: OpenSans;
		color:  #000000;
		font-size: 24px; /* Approximation due to font substitution */
		font-weight: 600;
		line-height: 28px; /* Approximation due to font substitution */
		text-align: left;
	}

	&__writeup-content {
		width: 100%;
		clear: both;
		font-family: OpenSans;
		color:  #000000;
		font-size: 16px; /* Approximation due to font substitution */
		font-weight: 400;
		line-height: 24px; /* Approximation due to font substitution */
		text-align: left;
	}

	&__writeup-more {
		float: right;
		font-family: OpenSans;
		color:  #666666;
		font-size: 11px; /* Approximation due to font substitution */
		font-weight: 600;
		text-align: left;

		img {
			margin-left: 10px;
			vertical-align: middle;
			height: 30px;
			width: 30px;
		}
	}

	&__facts, &__features {
		clear: both;
		margin-bottom: 10px;

		h2 {
			font-family: 'Oswald', sans-serif;
			font-weight: #{$fw-regular};
			text-align: center;
			margin-bottom: 15px;
		}
	}

	&__facts--left, &__facts--right, &__features--left, &__features--right {
		float: left;
		margin-top: 0;
		width: 50%;
		padding-right: 10px;
		box-sizing: border-box;

		li {
			font-family: OpenSans;
			color:  #000000;
			font-size: 13px; /* Approximation due to font substitution */
			font-weight: 400;
			line-height: 24px; /* Approximation due to font substitution */
			text-align: left;
			padding-bottom: 5px;
		}
	}

	&__external-links {
		margin-bottom: 0;
		clear: both;

		li {
			font-family: OpenSans;
			font-size: 12px;
			font-weight: 700;
			padding-bottom: 5px;
		}

		a:link, a:visited, a:active {
      color: #1a93b0;
      text-decoration: none;
    }
    a:hover {
      text-decoration: underline;
    }
	}

	&__details-expand {
		padding: 10px;
		display: inline-block;
		box-sizing: border-box;
		width: 100%;
		margin-bottom: 5px;
		background: rgba(170,170,170,0.3);

		h3 {
			text-align: center;
			font-family: OpenSans;
			font-size: 18px;
			font-weight: 400;
		}

		img {
			vertical-align: middle;
			margin-left: 10px;
		}

		a:link, a:visited, a:active {
      		color: black;
      		text-decoration: none;
    	}
	}

	&__contact-agent {
		display: none;
	}
}

.mobile-ad {
	display: block;
	text-align: center;
}


// ------------------------------------------------------------
// Tablet Breakpoint
// ------------------------------------------------------------

// Tablet Breakpoint
@include media-query(tablet) {
  .#{$module-name} {

		&__facts, &__features {
			font-size: 85%;
		}
  }
}

// ------------------------------------------------------------
// Desktop Breakpoint
// ------------------------------------------------------------

@include media-query(desktop) {
  .#{$module-name} {

		&__breadcrumbs {
			display: block;
			margin-bottom: 20px;
			font-family: OpenSans;
			color:  black;
			font-size: 13px; /* Approximation due to font substitution */
			font-weight: 600;
			line-height: 18px; /* Approximation due to font substitution */
			text-align: left;
	
			a:first-child:before {
				content: "";
			}

			a {
				color: #1a93b0;
			}
		}

		&__breadcrumbs a:before, &__breadcrumb-address:before {
			content: " \B7 ";
			color: black;
		}

		&__summary--left {
			width: 50%;
			padding-right: 20px;
			float: left;
			box-sizing: border-box;
		}

		&__summary--right {
			display: block;
			width: 50%;
			float: right;
			border-radius: 3px;
			text-align: center;
			background-color: rgba(10,10,10,0.1);
			box-sizing: border-box;
			margin-bottom: 15px;
		}

		&__detail {
			width: 77%;
			float: left;
			border-right: 1px solid white;
			box-sizing: border-box;

			p {
				border-right: 1px solid white;
				border-bottom: 1px solid white;
			}
		}

		&__detail-share {
			float: left;
			width: 23%;
			height: 100%;
		}

		&__detail--row1 {
			display: block;
			width: 100%;
		}

		&__detail--row2 {
			display: block;
			width: 100%;

			p {
				box-sizing: border-box;
				width: 33.3%;
				padding: 7px 0;
				float: left;
				font-family: OpenSans;
				color:  #000000;
				font-size: 13px; /* Approximation due to font substitution */
				font-weight: 400;
				text-align: center;
			}
		}

		&__detail--row1, &__detail--row2, &__detail--row3 {
			p:last-child {
				border-right: none;
			}
		}

		&__detail--row3 {
			display: block;
			width: 100%;

			p {
				box-sizing: border-box;
				width: 50%;
				padding: 7px 0;
				float: left;
				border-bottom: none;
				font-family: OpenSans;
				color:  #000000;
				font-size: 13px; /* Approximation due to font substitution */
				font-weight: 400;
				text-align: center;
			}
		}

		&__price {
			box-sizing: border-box;
			width: 100%;
			padding: 5px;
			font-family: OpenSans;
			color:  #000000;
			font-size: 18px; /* Approximation due to font substitution */
			font-weight: 600;
			text-align: center;
		}

		&__share {
			width: 20%;
			float: left;
		}

		&__detail-share--row1 {
			display: block;
			box-sizing: border-box;
			border-bottom: 1px solid white;
			width: 100%;
			padding: 7px;
			height: 32px;
			overflow: hidden;
		}

		&__detail-share--row2 {
			display: block;
			box-sizing: border-box;
			padding: 6px;
		}

		&__detail-monthly-cost {
			font-size: 70%;
			color: #1a93b0;
		}

		&__detail-pindrop {
			display: inline-block;
			vertical-align: middle;
		}

		&__for-sale {
			font-family: 'Oswald', sans-serif;
			font-size: 12px;
			font-weight: 400;
			display: inline-block;
		}

		&__tags {
			display: inline-block;
			min-height: 10px;
			overflow: hidden;

			.tag {
				display: block;
				float: left;
				font-size: 12px;
				font-family: Oswald Bold;
				text-transform: uppercase;
				line-height: 18px;
				padding: 0px 0px 0 5px;
				margin: 0 6px 0 0;
				color: #fff;
				margin-bottom: 5px;

				.arrow {
					display: block;
					float: right;
					width: 0;
					height: 0;
					border-top: 8px solid transparent;
					border-bottom: 8px solid transparent;
					border-right: 8px solid white;
					margin-left: 6px;
				}
			}

			.location { background-color: #82b5e6; }
			.class { background-color: #00a651; }
			.event { background-color: #ff6c6c; }
			.featured { background-color: #1a93b0; }
		}

		&__facts--left, &__facts--right, &__features--left, &__features--right {
			width: 33.3%;
			box-sizing: border-box;
			margin-bottom: 20px;
		}

		&__facts, &__features {
			font-size: 100%;
		}

	  &__external-links { 
			float: left;
			width: 33.3%;
			box-sizing: border-box;
			clear: none;

			li {
				padding-bottom: 10px;
			}
	  }

	  &__contact-agent {
			background: #1a93b0;
			padding: 7px;
			margin-bottom: 40px;
			display: inline-block;
			box-sizing: border-box;
			width: 100%;
			text-align: center;
			font-family: OpenSans;
			font-size: 16px; /* Approximation due to font substitution */
			font-weight: 600;
			text-align: center;

			a:link, a:visited, a:active {
				color: white;
	      		text-decoration: none;
	    	}
		}
  }

  .dfp-ads {
		display: block;
	}

	.mobile-ad {
		display: none;
	}
}





