// *
// *  Mega Menu 
// *

$module-name: 'mega-menu';

// ------------------------------------------------------------
// Default Styles
// ------------------------------------------------------------

.#{$module-name} {
  .adSlots {
    @extend .adSlots;

    .adSlot:hover .detailsWrapper .detailsOverlay p {
      display: block;
    }

    a.adSlot:nth-child(odd){
      margin-right: 30px;
    }
  }

  &__featured-home {
    position: relative;

    .adSlot {
      display: block;
      min-height: 10px;
      overflow-x: hidden;
    }
  }
}
.find-home-menu, .neighborhoods-menu {
  display: none;
}

// ------------------------------------------------------------
// Tablet Breakpoint
// ------------------------------------------------------------

// Tablet Breakpoint
@include media-query(tablet) {
  .#{$module-name} {
    // Module Styles

  }
}

// ------------------------------------------------------------
// Desktop Breakpoint
// ------------------------------------------------------------

@include media-query(desktop) {
  .find-home-menu, .neighborhoods-menu {
    // display: none;
  }

  .#{$module-name} {

    &__container {
      position: absolute;
      right: 0;
      left: 0;
      z-index: 10;
      height: 280px;
      width: #{$desktop-breakpoint};
      margin: 0 auto;
      padding: 10px;
      background: rgba(255,255,255,0.9);
      border: 1px solid lightgrey;
      box-sizing: border-box;
    }

    &__section--left, &__section--middle, &__section--right {
      width: 33.3%;
      height: 100%;
      float: left;
      padding: 10px;
      box-sizing: border-box;
    }

    &__list-items {
      clear: both;
      list-style: none;
      margin: 0;
      padding: 0;
    }

    &__list-item {
      padding: 7px 0;
      font-size: 12px;

      a {
        text-decoration: none;
        color: black;
      }

      a:hover {
        color: #1a93b0;
      }
    }

    &__section--left {
      .mega-menu__list-item {
        font-family: 'OpenSans Bold';
      }
    }

    &__section--middle {

      border-left: 1px solid lightgrey;
      .mega-menu__list-item {
        padding: 10px 45px 10px 0;
        border-top: 1px solid lightgrey;
        font-family: 'OpenSans';
        font-weight: 600;
      }

      .mega-menu__list-item:first-child {
        border: none;
        padding-top: 0;
      }
    }

    &__section--right {
      padding-bottom: 0;
      overflow: hidden;
    }

    &__search {
      float: left;
      margin: 0 5px 5px 0;
      padding: 8px;
      border-radius: 5px;
      border: 1px solid lightgrey;
      width: 220px;
      font-size: 12px;
    }

    &__featured-home {
      display: block;
      min-height: 1px;
      height: 100%;
      overflow: hidden;

      .adSlot {
        display: block;
        min-height: 10px;
        overflow-x: hidden;
      }
    }
  }
    // NEIGHBORHOODS TAB
  #mega-menu__list-items--left, #mega-menu__list-items--right {
    width: 50%;
    float: left;
    clear: none;
    box-sizing: border-box;
  }

  #mega-menu__list-items--left {
    padding-right: 15px;
  }

  .page-nav__form__submit {
    float: right;
    padding: 0 0 1px 0;
    border-radius: 5px;
  }
}