// *
// *  Module Name 
// *

$module-name: 'multimedia-chip';

.#{$module-name} {
	display: block;
	max-width: 630px;
	max-height: 616px;
	color: #fff;

	a { color: #fff; text-decoration: none; }

	&__header {
		width: 100%;
		display: block;
		text-align: center;
		text-transform: uppercase;
		position: relative;
		background: rgba(0, 0, 0, 0.4);
		border-bottom: 2px solid white;

		.category-tag {
			position: absolute;
			top: 16%;
			margin: 0;
		}
	}

	&__media-wrapper {
		width: 100%;
		min-height: 354px;
		position: relative;

		&__short-description {
			display: none;
			width: 96%;
			height: 98%;
			padding: 1% 2%;
			font-size: 13px;
			font-family: Oswald;
			letter-spacing: 1px;
			clear: both;
			overflow: hidden;
			background: rgba(0, 0, 0, 0.7);

			p {
				display: inline-block;
				float: left;
				width: 70%;
				overflow-y: hidden;
			}

			&__share, &__info {
				float: right;
				text-indent: -9000px;
				background: url(#{$img-path}icons/sprites/multimedia-chip__icons-sprite.png) 0 0 no-repeat;
			}

				&__share {
					width: 15px;
					height: 17px;
					text-indent: -900px;
				}

				&__info {
					width: 18px;
					height: 16px;
					text-indent: -900px;
					margin-left: 1%;
					background-position: -25px 0;
				}
		}
	}

	&__title-description {
		line-height: 22px;
		font-family: OpenSans;
		font-size: 16px;

		padding: 16px 24px 16px 24px;

		background: rgba(0, 0, 0, 0.4);

		h1 {
			font-family: OpenSans Semibold;
			font-size: 24px;
			line-height: 20px;
			padding: 0;
			margin: 0 0 10px 0;
		}

		p {
			margin: 0 0 13px 0;
			padding: 0;
		}

		&__photo-credit {
			line-height: 30px;
			font-style: italic;
			font-size: 13px;
		}
	}
}

@include media-query(tablet) {
	.#{$module-name} {
		display: block;
	}
}

@include media-query(desktop) {
	.#{$module-name} {
		display: block;
	}
}
