// *
// *  Module Name 
// *

$module-name: 'explore-widget';

// ------------------------------------------------------------
// Default Styles
// ------------------------------------------------------------

.#{$module-name} {
  // Module Styles
  &__container {
    position: relative;
    width: 300px;
    max-width: 300px;
    margin: 0 auto;
  }

  &__header {
    font-family: 'Oswald Regular';
  	color: black;
  	font-size: 26px;
  	font-weight: 400;
  	text-align: center;
    margin: 15px 0 20px 0;
  }

  &__img-wrapper {
    position: relative;
    margin: 0 auto;
  }

  &__pic-slot {
    position: relative;
  }

  &__img-overlay{
    position: absolute;
    bottom: 3px;
    width: 280px;
    margin: 0;
    padding: 10px;
    background: rgba(10,10,10,0.5);
    font-family: 'Oswald Regular';
    color:  #ffffff;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    color: white;
    box-sizing: border-box;
  }

  &__link-slot {
    display: none;
  }

}

/*@include media-query(tablet) {

    .#{$module-name} {
  
  }
}*/

// ------------------------------------------------------------
// Desktop Breakpoint
// ------------------------------------------------------------

@include media-query(tablet) {

  .#{$module-name} {

    &__container {
      display: inline-block;
      padding-bottom: 20px;
      margin: 0 0 20px 0;
      width: 100%;
      max-width: 1000px;
      background: rgba(170,170,170,0.3);
    }

    &__img-wrapper {
      float: left;
      width: 300px;
      min-width: 300px;
      padding-right: 20px;
      box-sizing: border-box;
    }

    &__link-list-container{
      float: left;
      min-width: 50%;
    }

    &__link-slot {
      display: block;
      box-sizing: border-box;
    }

    &__sub-headline {
      text-transform: uppercase;
      margin-bottom: 5px;
    }

    &__link-list ul:nth-child(1) {
      margin-bottom: 10px;
    }

    &__link-list {
      ul {       
        font-size:  12px;
        font-family: OpenSans Regular;
        font-weight: 700;
        line-height: 24px; /* Approximation due to font substitution */
        margin: 0px;
        padding: 0 0 0 15px;
      }
    
      li {
        color: black;
      }

      a {
        color: #2e1460;
        text-decoration: none;
      }

      a:hover {
        text-decoration: underline;
      }
    }

    &__link-slot {
      width: 50%;
      float: left;

      p {
        font-size: 12px;
        font-weight: 600;
      }
    }
  }
}

@include media-query(desktop) {

  .#{$module-name} {

  }
}

@media (max-width: 950px) {
  
  .#{$module-name} {

    &__img-wrapper {
      float: center;
    }

    &__link-slot {
      width: 100%;
      position: relative;
      padding: 15px 20px 0 20px;
    }

    &__link-list {
      float: left;
      display: inline-block;
      //width: 50%;
    }
  }
}

