// *
// *  Module Name 
// *

$module-name: 'explore-widget';

// ------------------------------------------------------------
// Default Styles
// ------------------------------------------------------------

.#{$module-name} {
  // Module Styles
  &__container {
    width: 300px;
    max-width: 300px;
    margin: 0 auto 10px auto;
  }

  &__header {
    font-family: Oswald;
  	color: black;
  	font-size: 26px;
  	font-weight: 400;
  	text-align: center;
  }

  &__img-wrapper {
    position: relative;
    margin: 0 auto;
  }

  &__pic-slot {
    position: relative;
  }

  &__img-overlay{
    position: absolute;
    bottom: 3px;
    width: 280px;
    margin: 0;
    padding: 10px;
    background: rgba(10,10,10,0.5);
    font-family: Oswald;
    color:  #ffffff;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    color: white;
  }

  &__link-slot {
    display: none;
  }

}

/*@include media-query(tablet) {

    .#{$module-name} {
  
  }
}*/

// ------------------------------------------------------------
// Desktop Breakpoint
// ------------------------------------------------------------

@include media-query(desktop) {

  .#{$module-name} {

    &__container {
      display: inline-block;
      padding-bottom: 20px;
      width: 100%;
      max-width: 1000px;
      background: rgba(170,170,170,0.3);
    }

    &__img-wrapper {
      float: left;
      width: 50%;
    }

    &__link-slot {
      display: block;
    }

    &__sub-headline {
      text-transform: uppercase;
    }

    &__link-list ul:nth-child(1) {
      margin-bottom: 10px;
    }

    &__link-list {
      ul {       
        font-size:  13px;
        font-family: OpenSans;
        list-style-type: disc;
        list-style-position: inside;
        font-weight: 700;
        line-height: 24px; /* Approximation due to font substitution */
        align: right;
        margin: 0px;
        padding:  5px;
        //color: black; 
      }
    
      li {
        color: black;
      }

      a {
        color: #1a93b0;
        text-decoration: none;
      }

      a:hover {
        text-decoration: underline;
      }
    }

    &__link-slot {
      width: 300px;
      height: 250px;
      //border: solid;
      //align: right;
      float: right;

      p {
        font-size: 11px;
        font-weight: 400;
      }
    }
  }
}



