$module-name: 'right-rail-widget';

.right-rail-wrapper{
	padding-top: 20px;
}

.#{$module-name} {
	display: block;
	margin: 0 0 30px 0;
	width: 100%;

	&__section-header{
		display: inline-block;
		width: 100%;

		h3{
			display: inline-block;
			padding: 0;
			margin: 0 0 5px 0;
			width: auto;
			float: left;
			font-family: 'Oswald Regular';
			font-size: 26px;
			font-weight: bold;	
		}
		

		a{
			display: inline-block;
			float: right;
			margin-top: 19px;
			width: 28%;
		}
	}

	&__container{
		display: inline-block;
		background: #dacef1;
		padding: 20px 25px 20px 20px;
		margin-bottom: 10px;
		width: 100%;

		ul{
			margin: 0;
			padding: 0;

			li{
				list-style: none;
				margin: 5px 0;
				font-size: .9em;

				span{
					font-weight: bold;
				} 
			}	
		}
	}

	&__keywords{
		margin: 5px 0;
		font-weight: bold;
	}

	&__search-type{
		margin: 5px 0;
		font-size: 14px;
		font-style: italic;
	}

	&__button-list{
		margin: 10px 0;
		text-transform: uppercase;
		font-size: 11px;
		ul{
			li{
				margin: 5px 0;
			}
		}
	}

}