// *
// *  Module Name 
// *

$module-name: 'right-rail';

// ------------------------------------------------------------
// Default Styles
// ------------------------------------------------------------

.#{$module-name} {
  // Module Styles

  &__headline{
    font-family: Oswald Regular;
    color:  #333333;
    font-size: 26px; /* Approximation due to font substitution */
    font-weight: 400;
    text-align: left;
    margin-bottom: 10px;
    
    
  }

  &__subheadline{  
      font-family: OpenSans Regular;
      color:  #000000;
      font-size: 13px; /* Approximation due to font substitution */
      font-weight: 700;
      line-height: 24px; /* Approximation due to font substitution */
      text-align: left;
  }

  &__linkList {
    ul{       
      font-size:  13px;
      font-family: OpenSans Regular;
      list-style-type: disc;
      list-style-position: inside;
      font-weight: 700;
      line-height: 24px; /* Approximation due to font substitution */
      text-align: left;
      margin: 0px;
      padding:  0px; 
    }
    li{
    margin-bottom: 5px;
    color: #2e1460;
    } 

  }
}