$module-name: 'search-results';

.related-articles-modal {
  position: fixed;
  top: 30px;
  right: 100%;
  z-index: 150;
  background: white;
  width: 90%;
  padding-top: 39px;

  .related-articles__item--mobile {
      border-top: 0;
      border-bottom: 1px solid grey;
      height: 240px;
      overflow: hidden;
      margin-bottom: 5px;
  }

  .description--mobile {
      display: block !important;
      text-align: left;
      font-family: OpenSans Regular;
      font-size: 13px;
      margin-bottom: 6px;
  }

  .related-articles__section-header {
    position: fixed;
    top: 25px;
    width: 90%;
    z-index: 151;
  }

  h2.title--mobile {
    font-family: OpenSans Bold;
    color:  #000000;
    font-size: 100%; /* Approximation due to font substitution */
    font-weight: 900;
    text-align: left;
    margin: 0 0 4px 0;
  }

  .additional-info--mobile {
    display: none;
  }

  .view-more-articles-mobile {
    clear: both;
    display: block;
    text-align: center;
    text-transform: capitalize;
    font-family: OpenSans Regular;
    font-weight: 400;
    font-size: 18px;
    color: #000;
    line-height: 1em;
    padding: 0.5em 0 0.5em 0;
    text-decoration: none;
    background: #e5e5e5;
    margin: 20px 0 15px 0;

    img {
      margin-left: 4px;
    }
  }
}

.search-filters-modal {
  display: none;
  width: 100%;
  margin: 0 5%;
  text-align: center;

  .close-modal-btn {
    float: right;
  }

  .close-modal {
    height: 20px;
    width: 20px;
    padding: 0 10px;
  }

  .header {
    margin-bottom: 10px;
    background: #2e1460;
    text-align: center;
    margin-bottom: 3px;

    letter-spacing: 1px;
    font-family: Oswald Regular;
    color: #ffffff;
    font-size: 26px;
    font-weight: 400
  }

  .content {
    background: #dacef1;
    padding: 20px;
    height: auto;

    p {
      font-family: 'OpenSans Semibold';
      color: black;
      padding: 10px;
      margin-bottom: 10px;
    }

    p.selected {
      color: #2e1460;
    }
  }
}

.serp-map--mobile {
  position: relative;
}

.serp-map-btn {
  display: inline-block;
  background-image: url(../../images/listings/pindrop-icon-purple.png);
  background-repeat: no-repeat;
  vertical-align: middle;
  height: 25px;
  width: 20px;
  margin-top: -3px;
}

.serp-list-btn {
  background-image: url(../../images/listings/list-icon-purple.png);
}

.serp-map-icon {
  height: 30px;
  margin-right: 7px;
  vertical-align: middle;
}

.related-articles-modal#simplemodal-data {
    width: 100%;
    margin: 0 auto;
}

.#{$module-name} {
  display: inline-block;
  margin-bottom: 15px;

  .serp__mobile-button-dock {
    display: block;
  }


  &__item {
    max-height: 355px;
    position: relative;
    border-bottom: 1px solid grey;
    display: inline-block;
  }

  .serp-item-hovered {
    background: #2e1460;
    
    p {
      color: white !important;
    }

    .address {
      text-decoration: underline;
    }

    .share-button--heart {
      background-image: url(../../images/listings/heart-icon-white.png) !important;
      background-size: 22px 20px;
    }

    .share-button--share {
      background-image: url(../../images/listings/share-icon-white.png);
    }
  }


  &__filter-bar-bottom {

    height: auto;
    position: relative;
    display: block;
    width: 100%;
    padding: 16px;
    margin-bottom: 5px;
    box-sizing: border-box;

    p {
      font-family: 'OpenSans Semibold';
      font-size: 11px;
      font-weight: 400;
      display: inline-block;
      vertical-align: middle;
    }

    .results-pag-nav {
      float: right;
      position: relative;

      p {
        width: 60px;
        position: absolute;
        right: 25px;
        top: 3px;
        font-family: 'OpenSans Regular';
        margin: 0 5px;
      }

      span:first-child {
        padding: 0 10px;
        background: rgb(200 ,200 ,200 );
        border-radius: 3px;
      }
    }

    .results-pag-nav-left {
      position: absolute;
      right: 105px;
      height: 20px;
      width: 20px;
      transform: rotate(90deg);
    }

    .results-pag-nav-right {
      height: 20px;
      width: 20px;
      transform: rotate(270deg);
    }
  }

  &__filter-bar {
    height: 47px;
    position: relative;
    display: block;
    width: 100%;
    padding: 16px;
    margin-bottom: 5px;
    box-sizing: border-box;
    background: #dacef1;

    .search-results__summary-count{
      display: none;
    }

    .sort-drop {
      display: none;
    }

    .filter-drop {
      display:inline-block;
      background: white;
      color: #2e1460;
      position: absolute;
      bottom: 5px;
      top: 5px;
      left: 5px;
      padding: 10px;
      border-radius: 3px;

      font-family: 'OpenSans Semibold'
    }
  }

  &__summary {
    text-align: center;
    margin: 0 0 25px 0;
  }

  .search-summary-header {
    font-family: 'OpenSans Regular';
    font-size: 20px;
    font-weight: 600;

    clear: both;
    margin: 0 auto;
    max-width: 960px;
    padding: 0 0 10px 0;
  }

  .search-summary-header > .total-results {
    margin-left: 10px;

    font-family: 'OpenSans Regular';
    font-size: 16px;
    font-weight: 400;
  }
  
  .header { 
    width: 100%;
    color: black;
    padding: 10px;
    position: relative;
    margin-bottom: 5px;
    box-sizing: border-box;
    display: inline-block;

    .address {
      font-family: 'Oswald Regular';
      color: black;
      font-size: 17.93px; /* Approximation due to font substitution */
      font-weight: 400;
      text-align: left;

      display: inline-block;
      width: 60%;
      padding-right: 10px;
      box-sizing: border-box;
    }
  }

  .header:hover {
    background: #2e1460;

    p {
      color: white;
    }

    .address {
      text-decoration: underline;
    }

    .share-button--heart {
      background-image: url(../../images/listings/heart-icon-white.png);
      background-size: 22px 20px;
    }

    .share-button--share {
      background-image: url(../../images/listings/share-icon-white.png);
    }
  }

  .share-buttons {
    display: inline-block;
    float: right;
    padding-top: 5px;
    width: 40%;

    .share-block {
      margin-left: 15px;
      display: inline-block;
      float: right;
    }

    .share-link--heart {
      float: right;
    }

    .share-button--heart {
      display: inline-block;
      background-image: url(../../images/listings/heart-icon-purple.png);
      background-repeat: no-repeat;
      background-size: 24px 20px;
      height: 20px;
      width: 24px;
      vertical-align: middle;
    }

    .share-button--share {
      display: inline-block;
      background-image: url(../../images/listings/share-icon-purple.png);
      background-repeat: no-repeat;
      background-size: 23px 20px;
      height: 20px;
      width: 23px;
      vertical-align: middle;
    }

    p {
      display: inline-block;
      font-family: OpenSans Regular;
      font-size: 11px;
    }
  }

  &__toggle-view {
    float: right;

    p {
      color: #2e1460;
      display: inline-block;
      font-size: 15px;
    }
  }

  .right-col, .left-col {
    float: left;
    position: relative;
    overflow: hidden;
    margin-bottom: 10px;
    max-height: 200px;
  }

  .left-col {
    width: 60%;
  }

  .right-col {
    width: 40%;
  }

  .left-col {
    padding-right: 10px;
    box-sizing: border-box;

    img {
      max-height: 230px;
      width: 100%;
    }

    .photo-count {
      position: absolute;
      bottom: 10px;
      left: 0;
      background: rgba(10,10,10,0.7);
      padding: 0 10px;

      font-family: 'Oswald Regular';
      color:  #ffffff;
      font-size: 11.96px; /* Approximation due to font substitution */
      font-weight: 400;
      line-height: 23.91px; /* Approximation due to font substitution */
      text-align: left;
    }

    .photo-arrows {
      display: none;
    }
  }

  .property-info {
    border-radius: 5px;
    overflow: hidden;
    
    .row1, .row2, .row3, .row4 {
      width: 100%;
      display: block;
      overflow: hidden;
      // max-height: 28px;

      p {
        padding: 5px 15px;
        text-align: center;
        float: left;
        box-sizing: border-box;
        background: rgba(10,10,10, 0.1);
        border-top: 1px solid white;
      }
    }

    .row1, .row4 {
      text-align: center;

      p {
        float: left;
        font-size: 12px;
        font-family: 'OpenSans Regular';
      }
    }

    .row2, .row3 {

      p {
        padding-bottom: 1005px;
        margin-bottom: -1000px;
        width: 50%;
        float: left;
        box-sizing: border-box;
        font-size: 12px;
        font-family: 'OpenSans Regular';
        border-top: 1px solid white;
      }

      p:nth-child(1) {
        border-right: 1px solid white;
      }
    }

    .description {
      display: none;
    }
  }

  .row1 {

    .price {
      width: 100%;
      font-weight: 700;
    }

    .house-type {
      display: none;
    }
  }

  .row4 {
    max-height: 75px;

    .house-type {
      display: block;
      width: 100%;
    }
  }

  .property-info {
    display: block;
    box-sizing: border-box;
  }

  .realtor-info {
    max-height: 68px;
    display: inline-block;
    width: 100%

  }

  .realtor-info--right {
    text-align: center;
  }

  .realtor-info--left, .realtor-info--right, .realtor-info--middle {
    float: left;
    box-sizing: border-box;
  }

  .realtor-info--middle {
    width: 20%;
    padding: 0 15px;

    img {
      max-width: 50px;
      max-height: 60px
    }
  }

  .realtor-info--left {
    padding-top: 15px;
    width: 43%;
    position: relative;

    .realtor-company {
      max-height: 100%;
      max-width: 125px;
    }
  }

  .realtor-info--right {
    padding-top: 13px;
    width: 37%;

    .realtor-contact {
      margin-bottom: 10px;
      padding: 5px;
      background: #2e1460;
      color: white;
      border: none;
      border-radius: 2px;

      font-family: 'OpenSans Regular';
      color:  #ffffff;
      font-size: 12.95px; /* Approximation due to font substitution */
      font-weight: 700;
      line-height: 17.933px; /* Approximation due to font substitution */
      text-align: left;
    }

    .realtor-name {
      font-family: Arial;
      color:  #000000;
      font-size: 11.96px;
      font-weight: 700;
      line-height: 16px;
      text-align: center;
    }
  }

  .adSlot-right {
    display: none;
  }

  .adSlot-left {
    margin: 10px auto;
  }

}

@media (min-width: 768px) {

  .related-articles--mobile {
    display: none;
  }

  .#{$module-name} {

    &__toggle-view {
      display: none;
    }

    .serp__mobile-button-dock {
      display: none;
    }

    .adSlots {
      margin: 10px 0;
      position: relative;
      
      .adSlot {
        width: 100%;
        box-sizing: border-box;
        margin-left: auto !important;
        margin-right: auto !important;
        width: 300px;
        float: none;
      }
    }

    .adSlot-left, .adSlot-right {
      min-height: 250px;
      min-width: 300px;
    }

    .adSlot-left {
      margin-bottom: 10px !important;
    }

    .adSlot-right {
      display: block;
    }

    .search-results__summary-count{
      display: block;
    }

    .search-summary-header {
      display: block;
      font-family: 'OpenSans Regular';
      font-size: 26px;
      font-weight: 600;
      padding: 0;
    }

    .filter-drop {
      display: none;
    } 

    &__summary {
      text-align: left;
    }

    &__filter-bar {
      height: auto;
      position: relative;
      display: block;
      width: 100%;
      padding: 16px;
      margin-bottom: 5px;
      box-sizing: border-box;
      background: #dacef1;

      p {
        display: block;
        font-family: 'OpenSans Semibold';
        font-size: 11px;
        font-weight: 400;
      }

      .sort-drop {
        display: block;
        position: absolute;
        top: 5px;
        bottom: 5px;
        right: 5px;
        left: initial;
        background: white;
        border: none;
        font-family: 'OpenSans Regular'; 
      }

    }

    // &__filter-bar-bottom {
    //   background: none;

    //   p {
    //     display: inline-block;
    //     vertical-align: middle;
    //   }

    //   .results-pag-nav {
    //     float: right;
    //     position: relative;

    //     p {
    //       width: 60px;
    //       position: absolute;
    //       right: 25px;
    //       top: 3px;
    //       font-family: 'OpenSans Regular';
    //       margin: 0 5px;
    //     }

    //     span:first-child {
    //       padding: 0 10px;
    //       background: rgb(200 ,200 ,200 );
    //       border-radius: 3px;
    //     }
    //   }

    //   .results-pag-nav-left {
    //     position: absolute;
    //     right: 105px;
    //     height: 20px;
    //     width: 20px;
    //     transform: rotate(90deg);
    //   }

    //   .results-pag-nav-right {
    //     height: 20px;
    //     width: 20px;
    //     transform: rotate(270deg);
    //   }
    // }

    .photo-arrows {
      display: block !important;
      position: absolute;
      bottom: 10px;
      right: 10px;
      padding: 0 10px;

      .photo-arrow-right, .photo-arrow-left {
        display: inline-block;
        height: 15px;
        width: 15px;
        box-sizing: border-box;
      }

      .photo-arrow-right:hover, .photo-arrow-left:hover {
        border: 1px solid white;
      }

      .photo-arrow-right {
        -ms-transform: rotate(180deg); /* IE 9 */
        -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
        transform: rotate(180deg);
      }
    }

    .row1 {

      .house-type {
        display: block;
        width: 50%;
      }

      p {
        width: 50%;
        float: right;
        box-sizing: border-box;
      }

      .price {
        width: 50%;
        border-right: 1px solid white;
      }
    }

    .row4 {

      .description {
        display: block;
        text-align: left !important;
      }

      .house-type {
        display: none;
      }
    }

    .left-col {
      width: 40%;
    }

    .right-col {
      width: 60%;
      height: auto;
    }


    .realtor-info {
      float: right;
      width: 60%;
    }
  }
}

@media (min-width: 960px) {

  .adSlots {
      
    .adSlot {
      display: inline-block;
      margin-bottom: 0;
    }

    .adSlot-right {
      img {
        margin-left: 35px;
      }
    }

    .adSlot-right {
      div{
        margin-left: 18px;
      }
    }

  }
}

