$module-name: 'search-results';

// display via popup on mobile
.related-articles-modal {
    display: none;
    background: white;

    .related-articles__item {
        height: 255px;
        overflow: hidden;
        padding-bottom: 10px;
    }

    .description {
        display: block !important;
        text-align: left;
    }
}

.related-articles-modal#simplemodal-data {
    width: 100%;
    margin: 0 auto;
}

.#{$module-name} {
  display: inline-block;
  margin-bottom: 15px;

  .serp__mobile-button-dock {
    display: block;
  }


  &__item {
    max-height: 355px;
    position: relative;
    border-bottom: 1px solid grey;
    display: inline-block;

  }

  &__filter-bar, &__filter-bar-bottom {
    display: none;
  }
  
  .header {
    width: 100%;
    color: black;
    padding: 10px;
    position: relative;
    margin-bottom: 5px;
    box-sizing: border-box;
    display: inline-block;

    .address {
      font-family: 'Oswald Regular';
      color: black;
      font-size: 17.93px; /* Approximation due to font substitution */
      font-weight: 400;
      text-align: left;

      display: inline-block;
      width: 60%;
      padding-right: 10px;
      box-sizing: border-box;
    }
  }
  .header:hover {
    background: #2e1460;

    p {
      color: white;
    }

    .address {
      text-decoration: underline;
    }

    .share-button--heart {
      background-image: url(../../images/listings/heart-icon-white.png);
      background-size: 22px 20px;
    }

    .share-button--share {
      background-image: url(../../images/listings/share-icon-white.png);
    }
  }

  .share-buttons {
    display: inline-block;
    float: right;
    padding-top: 5px;
    width: 40%;

    .share-block {
      margin-left: 15px;
      display: inline-block;
      float: right;
    }

    .share-link--heart {
      float: right;
    }

    .share-button--heart {
      display: inline-block;
      background-image: url(../../images/listings/heart-icon-purple.png);
      background-repeat: no-repeat;
      background-size: 24px 20px;
      height: 20px;
      width: 24px;
      vertical-align: middle;

    }

    .share-button--share {
      display: inline-block;
      background-image: url(../../images/listings/share-icon-purple.png);
      background-repeat: no-repeat;
      background-size: 23px 20px;
      height: 20px;
      width: 23px;
      vertical-align: middle;
    }

    p {
      display: inline-block;
      font-family: OpenSans Regular;
      font-size: 11px;
    }
  }

  .right-col, .left-col {
    float: left;
    position: relative;
    overflow: hidden;
    margin-bottom: 10px;
    max-height: 200px;
  }

  .left-col {
    width: 60%;
  }

  .right-col {
    width: 40%;
  }

  .left-col {
    padding-right: 10px;
    box-sizing: border-box;

    img {
      max-height: 230px;
      width: 100%;
    }

    .photo-count {
      position: absolute;
      bottom: 10px;
      left: 0;
      background: rgba(10,10,10,0.7);
      padding: 0 10px;

      font-family: 'Oswald Regular';
      color:  #ffffff;
      font-size: 11.96px; /* Approximation due to font substitution */
      font-weight: 400;
      line-height: 23.91px; /* Approximation due to font substitution */
      text-align: left;
    }

    .photo-arrows {
      display: none;
    }
  }

  .property-info {
    border-radius: 5px;
    overflow: hidden;
    
    .row1, .row2, .row3, .row4 {
      width: 100%;
      display: block;
      overflow: hidden;
      // max-height: 28px;

      p {
        padding: 5px 15px;
        text-align: center;
        float: left;
        box-sizing: border-box;
        background: rgba(10,10,10, 0.1);
        border-top: 1px solid white;
      }
    }

    .row1, .row4 {
      text-align: center;

      p {
        float: left;
        font-size: 12px;
        font-family: 'OpenSans Regular';
      }
    }

    .row2, .row3 {

      p {
        padding-bottom: 1005px;
        margin-bottom: -1000px;
        width: 50%;
        float: left;
        box-sizing: border-box;
        font-size: 12px;
        font-family: 'OpenSans Regular';
        border-top: 1px solid white;
      }

      p:nth-child(1) {
        border-right: 1px solid white;
      }
    }

    .description {
      display: none;
    }
  }

  .row1 {

    .price {
      width: 100%;
      font-weight: 700;
    }

    .house-type {
      display: none;
    }
  }

  .row4 {

    .house-type {
      display: block;
      width: 100%;
    }
  }

  .property-info {
    display: block;
    box-sizing: border-box;
  }

  .realtor-info {
    max-height: 68px;
    display: inline-block;
    width: 100%

  }

  .realtor-info--right {
    text-align: center;
  }

  .realtor-info--left, .realtor-info--right, .realtor-info--middle {
    float: left;
    box-sizing: border-box;
  }

  .realtor-info--middle {
    width: 20%;
    padding: 0 15px;

    img {
      max-width: 50px;
      max-height: 60px
    }
  }

  .realtor-info--left {
    padding-top: 15px;
    width: 43%;
    position: relative;

    .realtor-company {
      max-height: 100%;
      max-width: 125px;
    }
  }

  .realtor-info--right {
    padding-top: 13px;
    width: 37%;

    .realtor-contact {
      margin-bottom: 10px;
      padding: 5px;
      background: #2e1460;
      color: white;
      border: none;
      border-radius: 2px;

      font-family: 'OpenSans Regular';
      color:  #ffffff;
      font-size: 12.95px; /* Approximation due to font substitution */
      font-weight: 700;
      line-height: 17.933px; /* Approximation due to font substitution */
      text-align: left;
    }

    .realtor-name {
      font-family: Arial;
      color:  #000000;
      font-size: 11.96px;
      font-weight: 700;
      line-height: 16px;
      text-align: center;
    }
  }

  .adSlot-right {
    display: none;
  }

  .adSlot-left {
    margin: 10px auto;
  }


}

@media (min-width: 768px) {
    .related-articles {
        display: block;
    }


  .#{$module-name} {

    .serp__mobile-button-dock {
        display: none;
    }


    .adSlots {
        margin: 10px 0;
        position: relative;
        
        .adSlot {
            width: 100%;
            box-sizing: border-box;
            margin-left: auto !important;
            margin-right: auto !important;
            width: 300px;
            float: none;
        }
    }

    .adSlot-left, .adSlot-right {
        min-height: 250px;
        min-width: 300px;
    }

    .adSlot-left {
        margin-bottom: 10px !important;
    }

    .adSlot-right {
        display: block;
    }

    &__filter-bar, &__filter-bar-bottom {
      position: relative;
      display: block;
      width: 100%;
      padding: 16px;
      margin-bottom: 5px;
      box-sizing: border-box;
      background: #dacef1;

      p {
        font-family: 'OpenSans Semibold';
        font-size: 11px;
        font-weight: 400;
      }

      .filter-drop {
        position: absolute;
        bottom: 5px;
        top: 5px;
        right: 5px;
        background: white;
        border: none;
        font-family: 'OpenSans Regular'; 
      }
    }

    &__filter-bar-bottom {
        background: none;

        p {
            display: inline-block;
            vertical-align: middle;
        }

        .results-pag-nav {
            float: right;
            position: relative;

            p {
                width: 60px;
                position: absolute;
                right: 25px;
                top: 3px;
                font-family: 'OpenSans Regular';
                margin: 0 5px;
            }

            span:first-child {
                padding: 0 10px;
                background: rgb(200 ,200 ,200 );
                border-radius: 3px;
            }
        }

        .results-pag-nav-left {
            position: absolute;
            right: 105px;
            height: 20px;
            width: 20px;
            transform: rotate(90deg);
        }

        .results-pag-nav-right {
            height: 20px;
            width: 20px;
            transform: rotate(270deg);
        }
    }

    .photo-arrows {
      display: block !important;
      position: absolute;
      bottom: 10px;
      right: 10px;
      padding: 0 10px;

      .photo-arrow-right, .photo-arrow-left {
        display: inline-block;
        height: 15px;
        width: 15px;
        box-sizing: border-box;
      }

      .photo-arrow-right:hover, .photo-arrow-left:hover {
        border: 1px solid white;
      }

      .photo-arrow-right {
        -ms-transform: rotate(180deg); /* IE 9 */
        -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
        transform: rotate(180deg);
      }
    }

    .row1 {

      .house-type {
        display: block;
        width: 50%;
      }

      p {
        width: 50%;
        float: right;
        box-sizing: border-box;
      }

      .price {
        width: 50%;
        border-right: 1px solid white;
      }
    }

    .row4 {

      .description {
        display: block;
        text-align: left !important;
      }

      .house-type {
        display: none;
      }
    }

    .left-col {
      width: 40%;
    }

    .right-col {
      width: 60%;
      height: auto;
    }


    .realtor-info {
      float: right;
      width: 60%;
    }
  }
}

@media (min-width: 960px) {

    .adSlots {
        
        .adSlot {
            display: inline-block;
            margin-bottom: 0;
        }

        .adSlot-right {
            img {
                margin-left: 35px;
            }
        }
    }
}
