$module-name: 'related-articles-mobile';

.#{$module-name} {
	display: none;
	position: relative;

	.related-articles-nav {
		float: right;
		position: absolute;
		top: 10px;
		right: 10px;

		.re-widget-left, .re-widget-right {
	      display: inline-block;
	      background-image: url(../../images/listings/arrow-icon-grey.jpg);
	      background-repeat: no-repeat;
	      background-size: 24px 20px;
	      height: 20px;
	      width: 24px;
	      vertical-align: middle;
	      margin:0;
	    }

	    .re-widget-right {
	    	transform: rotate(180deg);
	    }

	    .re-widget-right:active {
	    	transform: rotate(270deg);
	    	background-size: 20px 24px;
	    	height: 24px;
	      	width: 20px;
	      	margin-left: 2px;
	    }

	    .re-widget-left:active {
	    	transform: rotate(90deg);
	    	background-size: 20px 24px;
	    	height: 24px;
	      	width: 20px;
	    }

		.re-widget-left:active, .re-widget-right:active {
			background-image: url(../../images/listings/arrow-icon-purple.png);
			margin-right: 0;
		}
	}
	
	&__item {
		position: relative;
		display: inline-block;
		padding: 5px 0;
		width: 100%;
		text-align: left;
		clear: both;
		min-height: 150px;
		max-height: 250px;
		border-bottom: 1px solid rgb(190, 190, 190);

		.thumb {
			float: left;
			margin-bottom: 5px;
		}

		h2.title {
			font-family: 'OpenSans Semibold';
			font-size: 13px !important;
			text-align: left;
			color: black;
		}

		.description {
			font-family: 'OpenSans Regular';
			font-size: 11px !important;
			text-align: left;
			color: black;
			margin-bottom: 10px;
		}

		.date {
			font-size: 11px;
			font-style: italic;
			position: absolute;
			bottom: 5px;
			left: 135px;
		}

		.main-info {
			float: left;
			width: 55%;
			height: 100%;
		}

		.additional-info {
			float: left;
			width: 45%;
		}
	}
}

@media (min-width: 768px) {
	.#{$module-name} {
		display: block;
	}
}





