//
// Boston.com Comments
//
$blue: #2494e3;
$blue-hover: #1878bc;
// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
// Comments Wrapper
// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
.comments-wrapper {
  margin-bottom: 20px;
}
.story-comments { // <div>
  clear: both;

  .touch & {

    @include mq (900px) {
      margin-top: 0;
    }
  }
  @include mq (900px) {
    margin-top: 40px;
  }
}
.story-comments-mod { // <section>
  width: 100%;
  display: none;
  margin-top: 50px;
  .open & {
    display: block;
    .comment-list {
      margin-bottom: 20px;
    }
    .touch & {
      display: block;
      border-top: 0px;
      }
    }
  .touch & {
    display: none;
  }
  @include mq (900px) {
    display: block;
    padding-top:25px;
    border-top: 1px solid #e5e5e5;
    margin: 0 auto;
    position: relative;
  }
  // Limit height and fade when
  // comments are closed
  .closed & {
    .comment-list {
      display: none;
    }
    .pagination {
      display: none;
    }
    @include mq(max, 400px) {
      display: none;
    }
  }
}

// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
// Comment Header
// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
.comment-label { // <div>
  float: left;
  margin-bottom: 15px;
  @include mq(450px) {
    margin-bottom: 25px;
  }
  display: none;
  .open & {
    display: block;
  }
  @include mq(900px) {
    display: block;
  }
}
.comment-h { // <h3>
  display: inline-block;
  @include sans(em(14), 500);
  > a {
    color: $blue;
    text-decoration: none;
    transition-property: background-color,color;
    transition-duration: .2s;
    transition-timing-function: cubic-bezier(0.49,0.37,0.445,0.715);
    &:hover {
      color: #1878bc;
    }
  }
  margin-right: 5px;
  margin-left: -5px;
  @include mq(400px) {
    margin-left: 0;
    font-size: em(20);
  }
}
// View/Hide Comments Link
.view-comments { // <a>
  display: none;
  @include sans(em(16),400);
  padding-left: 10px;
  @include mq(900px) {
    display: inline-block;
  }
}
.comment-permalink {
  color: rgb(153, 153, 153);
}
// Comment Filter
.comment-filter-mod { // <ul>
  display: none;
  margin: 0 -10px 25px;
  float: right;
  @include mq(400px) {
    margin: 5px 0 0;
  }
  .open & {
    display: block;
  }
}
.comment-filter-item { // <li>
  display: inline-block;
}
.comment-filter { // <a>
  padding: 3px 6px;
  @include sans(em(12), 500, normal, 1px);
  text-transform: uppercase;
  color: #999;
  @include trans;
  &.selected {
    color: #fff;
    background-color: $blue;
    &:hover {
      background-color: $blue-hover;
    }
  }
  &:hover {
    background-color: #eee;
  }
}

// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
// Add Comment Form
// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
.add-comment-mod {
  @include pair(60px, 20px, top);
  padding-bottom: 0;
  clear: both;
}
// Avatar
.add-comment-avatar-bd.art-bd {
 margin: 0 0 10px 0;
}
// Username / Not you?
.add-comment-txt-bd.txt-bd {
  @include mq(max, $comment-wrap) {
    margin-left: 0px;
  }
  @include mq($comment-wrap, 500px) {
    margin-left: 60px;
  }
}
.add-comment-title-list {
  margin-bottom: 9px;
}
.add-comment-item {
  display: inline-block;
}
.add-comment-name {
  @include sans(em(14), 600);
  margin-right: 5px;
}
// The Form
.add-comment-input,
.add-comment-form {
  position: relative;
}
.add-comment-input {
  @include input-default;
  @include sans(em(14), 400);
  @include placeholder-state($black-15, $black-15, $black-50);
  padding: 7px 10px 6px 10px;
  height: 34px;
  width: 100%;
  border: $border;
  @include trans($trans-time);
  &::-webkit-search-cancel-button {
      -webkit-appearance: none;}
}
.add-comment-form {
  textarea {
    margin-bottom: 10px;
  }
  &.comment-form-bottom textarea {
    height: 7em;
  }
}
// Submit Button
.comment-submit-btn-top {
  margin-bottom: 20px;
  float: left;
  height: 34px;
  // Ryan P 8/18
  //.expandable-form-active
  .expandable-form &.submit-btn {
    margin-top: 0;
  }
}
// Disclaimer Message
.comment-disclaimer {
  @include mq(max, 600px) {
    display: none;
  }
  display: block;
  margin: -2px 0 0 94px;
}
.comment-disclaimer-top {
  display: none;
  margin-left: 104px;
  @include mq(600px) {
    // Ryan P 8/18
    //.expandable-form-active & {
    //   display: block;
    // }
  }
}
// .comment-disclaimer-bottom {
//   display: block;
//   margin-top: -3px;
//   margin-left: 88px;
// }
.content-disclaimer-abr-mod {
  display: none;
  @include mq(max, 600px) {
    z-index: 1;
    display: block;
    float: right;
    .expandable-form & {
      display: none;
    }
    // Ryan P 8/18
    //.expandable-form-active
    .expandable-form & {
      display: block;
    }
  }
}
.content-disclaimer-abr {
  position: absolute;
  width: 84px;
  text-align: right;
  right: 100%;
  color: #888;
  margin-right: 7px;
  @include sans(em(12), 600);
}
.content-disclaimer-icon {
  position: relative;
  top: 3px;
  margin-left: 5px;
}
/* Required Message */
.required-message {
  color: $red;
  font-weight: 700;
  .new-reply & {
    margin-left: 85px;
  }
}
/* Missing Screenname */
.user-message {
  a {
    @include link;
    &:hover {
      text-decoration: underline;
    }
  }
}

// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
// A Single Comment
// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
.comment-mod { // <li>
  @include pair(50px, 10px, top);
  position: relative;
  padding: 20px 0;
  border-top: $border;
  &:first-child{
    border-top: 0px;
  }
  @include mq(500px) {
    @include pair(60px, 25px, top);
  }
  &:last-child {
    border-bottom: $border;
  }
}
.comment-mod-blocked {
  padding: 0;
}
// Avatar
.comment-avatar-bd {
  &.art-bd {
    @include mq(max, $comment-wrap) {
      margin: 0 10px 10px 0;
    }
  }
}
.comment-list-art{
  width: 50px;
  @include mq(500px) {
    width: 60px;
  }
}
// Comment Wrapper
.comment-txt-bd {
  &.txt-bd {
    @include mq(max, $comment-wrap) {
      margin-left: 0;
    }
  }
  .comment-txt {
    @include sans(em(12)/140%, 400);
    padding-bottom: 10px;
  }
  p {
    @include sans(em(14)/140%, 400);
    padding-bottom: 10px;
  }
  &:hover .comment-btn {
    opacity: 1;
    border: solid 1px #aaa;
    color: #444;
  }
  &:hover .report-comment {
    opacity: 1;
  }
}
// Username / Timestamp
.comment-title-item {
  display: inline-block;
  padding-bottom: 6px;
}
.comment-username {
  @include sans(em(14), 800);
}
.comment-timestamp {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 500;
  letter-spacing: 1px;
  color: $black-50;
  padding-left: 3px;
}
// Comment Footer
.comment-btn {
  @include input-default;
  color: $black-50;
  border: $border;
  //height: 16px; //changed from 25px. Removed to fix inhertiance issue  -cgo
  display: inline-block;
  float: left;
  padding: 4px 8px;
  @include trans;
  opacity: .6;
  &:first-child {
    margin-right: -1px;
  }
  .touch & {
    opacity: 1;
  }
  &:hover {
    background-color: #f0f0f0;
    color: $blue-lt;
  }
  &.voted:hover {
    background-color: #fff;
  }
  // Ryan P 8/18
  // .comment-in-focus & {
  //   opacity: 1;
  //   border: solid 1px #aaa;
  //   color: #444;
  // }
}
// Voting Buttons
.comment-button-mod {
  padding-top:5px;
  @extend %clearfix;
}

.has-voted
.comment-vote-mod {
  @include hover-box;
  position: relative;
  width: 118px;
  float: left;
  height: 25px;
  .comment-vote {
    pointer-events: none;
  }
}
.comment-vote-hover-info.hover-info {
  left: -31px;
  margin-bottom: 12px !important;
}
.comment-vote-icon {
  float: left;
  @include size(15px);
  background-size: cover;
  margin-right: 8px;
  background-repeat: no-repeat;
}
.voted {
  .vote-up-animate {
    background-image: url(http://devedit.boston.com/real-estate/images/vote-up.png); //hard url locator -cgo
    @include animation(vote-up .5s);
    @include animation-fill-mode(forwards);
  }
  .vote-down-animate {
    background-image: url(http://devedit.boston.com/real-estate/images/vote-down.png); //hard url locator -cgo
    @include animation(vote-down .5s);
    @include animation-fill-mode(forwards);
  }
}
.voted .vote-up,
.voted .vote-down {
  opacity: 1;
}
.vote-up,
.vote-down {
  opacity: 0;
  @include trans(.5s);
}
.vote-up-animate,
.vote-down-animate {
  left: 8px;
  position: absolute;
  z-index: 1;
}
.vote-up-animate {
  background-image: url(http://devedit.boston.com/real-estate/images/vote-up.png); //hard uri locator for image -cgo
  @include svg(vote-up);
}
.vote-down-animate {
  background-image: url(http://devedit.boston.com/real-estate/images/vote-down.png); //hard uri locator for image -cgo
  @include svg(vote-down);
}
.vote-up {
  @include svg(vote-up-blue);
}
.vote-down {
  @include svg(vote-down-blue);
}
.comment-vote-up {
  border-top-left-radius: 13px;
  border-bottom-left-radius: 13px;
}
.comment-vote-down {
  border-top-right-radius: 13px;
  border-bottom-right-radius: 13px;
  margin-right: 10px;
}
.comment-vote {
  @include trans;
  position: relative;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  &.voted {
    border: solid 1px #bbb;
    color: #444;
    // Ryan P 8/18
    // .comment-in-focus & {
    //   // background-color: #ccc;
    // }
  }
}
// Reply Button
.comment-reply {
  @include sans(em(10)/25px, 400, normal, 1px);
  vertical-align: middle;
  padding :0 10px;
  margin-right: 10px;
  text-transform: uppercase;
  border-radius: 13px;
}
// Report Comment
.report-comment {
  @include trans;
  @include sans(em(13)/25px, 500);
  float: right;
  opacity: .6;
  // RYAN P 8/18
  // .comment-in-focus & {
  //   opacity: 1;
  // }
}
// Show / Hide Replies Link
.show-reply {
    @include sans(em(12)/25px, 600, normal, 1px);
    position: absolute;
    left: 50%;
    text-transform: uppercase;
    bottom: 18px;
    z-index: 1;
    padding: 0 20px;
    background-color: white;
    margin-left: -52px;
    @include mq (400px) {
      margin-left: -32.5px;
    }
    //.comment-reply-active & {
      margin-left: -45px;
      @include mq (400px) {
        margin-left: -22.5px;
      }
    //}
}

// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
// Admin Controls
// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
.comment-holder {
  .admin-controls {
    @include trans;
    margin-top: 10px;
    padding-top: 5px;
    border-top: 1px solid $black-10;
    text-align: right;
    opacity: 0.2;
    a {
      margin-left: 10px;
      color: $black-50;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  &:hover > .comment-footer .admin-controls {
    opacity: 1;
  }
}

// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
// A Blocked Comment
// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
// Ryan P 8.18
// .comment-mod-blocked {
//   padding: 5px 0;
// }
.comment-blocked-icon {
  position: absolute;
  right: 0px;
  top: 5px;
  z-index: 1;
}

// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
// Replies
// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
.comment-reply-list {
  position: relative;
}
.comment-reply-list > li {
  display: block;
  margin-left: 35px;
  @include mq($comment-wrap) {
    margin-left: 60px;
  }
  @include mq(500px) {
    margin-left: 85px;
  }
  &:first-child {
    margin-top: 20px;
    border-top: $border;
  }
  &:last-child {
    margin-bottom: 10px;
  }
}
//Ryan P 8.18
// .comment-mod-reply-hidden {
//   display: none;
//   .comment-reply-active & {
//     display: block;
//   }
// }

.comment[data-reply-count='1'] .comment-reply-list > li,
.comment[data-reply-count='2'] .comment-reply-list > li:last-child {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}

// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
// Submit Reply Form
// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
.comment-submit-btn,
.comment-reply-btn,
.comment-abuse-btn {
  margin-right: 10px;
  @include mq(400px) {
    float: left;
  }
}
.comment-reply-form {
  margin: 10px 0 0 0;
  &.comment-form-bottom {
    margin-left: 0;
  }
  @include mq($comment-wrap) {
    margin: 10px 0 0 60px;
  }
  @include mq(500px) {
    margin: 10px 0 0 85px;
  }
  //Ryan P 8.18
  // .comment-reply-form-active & {
  //   display: block;
  // }
  textarea {
    height: 7em;
    margin-bottom: 8px;
  }
}

// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
// Abuse Form
// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
.report-abuse-form {
  margin: 10px 0 20px 0;
  .form-section {
    margin-bottom: 10px;
  }
  @include mq($comment-wrap) {
    margin: 10px 0 20px 60px;
  }
  @include mq(500px) {
    margin: 10px 0 20px 85px;
  }
  textarea {
    height: 7em;
    width: 100%;
    padding: 10px
  }
  label {
    margin-right: 10px;
  }
  .cancel {
    position: relative;
    top: 10px;
  }
  &:after {
    display: block;
    content: '';
    clear: both;
  }
}

// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
// Comments Footer
// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

.comment-form-bottom {
  display: none;
  clear: both;
  margin-bottom: 20px;
  .open & {
    display: block;
  }
}
.hide-comments-btn {
  display: none;
  @include mq(max, 400px) {
    margin: -28px 0 0 -66px;
    position: absolute;
    left: 50%;
    // style
    @include sans(em(12), 600, normal, 1px);
    background-color: #fff;
    padding: 0 10px;
    text-transform: uppercase;
  }
  @include mq(400px) {
    float: left;
    margin-bottom: 20px;
  }
  .open &,
  .touch .open &  {
    display: block;
  }
}

// This is the modal that pops up when you click on the ? next to "best"

.question-icon {
  line-height: 0;
  vertical-align: middle;
}

.share-mod {
  position: relative;
  z-index: 9999;
  padding: 30px 0 40px;
  background-color: #fff;
  margin: 0px auto;
  @include mq($quick-break) {
    width: 70%;
    max-width: 500px;
    margin: 50px auto;
    width: 100%;
    padding: 30px 20px 40px;
  }
}

.mfp-zoom-in {

  /* start state */
  .mfp-figure,
  .share-mod, 
  .quick-gallery-popup {
    opacity: 0;
    transition: all 0.3s ease-in-out;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
  }

  &.mfp-ready {
    &.mfp-bg,
    .mfp-preloader{
      opacity: 0.8;
    }
    .share-mod,
    .quick-gallery-popup {
      opacity: 1;
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1);
    }
  }

  /* animate out */
  &.mfp-removing {
    .mfp-figure,
    .share-mod, 
    .quick-gallery-popup {
      -webkit-transform: scale(0.8);
      -moz-transform: scale(0.8);
      -ms-transform: scale(0.8);
      -o-transform: scale(0.8);
      transform: scale(0.8);
      opacity: 0;
    }
    &.mfp-bg,
    .mfp-preloader{
      opacity: 0;
    }

  }

}

/*  --------------------------------------------------------------------------
* Modal Window
*/
.ugc-modal {
  z-index: 999;
  position: fixed;
  top: 90px;
  left: 25%;
  width: 50%;
  padding: 20px;
  padding-bottom: 10px;
  background: #fff;
  border: 3px solid $blue;
  box-shadow: 0 0 50px rgba(0,0,0, .5);
  .heading {
    font-size: 16px;
    border-bottom: 1px solid $black-15;
    margin-bottom: 10px;
    padding-bottom: 5px;
  }
  .form-section {
    margin-bottom: 10px;
    overflow: hidden;
    padding-bottom: 0;
  }
  label {
    display: inline-block;
    width: 100px;
  }
  &.abuse label {
    display: block;
    width: 100%;
    margin-bottom: 3px;
  }
  input[type=text],
  textarea {
    width: 100%;
    padding: 3px 5px;
    border: 1px solid $black-15;
  }
  textarea {
    height: 100px;
  }
  select {
    width: 100%;
  }
  a.close-modal {
    float: right;
    font-size: 18px;
    &:hover {
      text-decoration: none;
      border-bottom: none;
    }
  }
}