$asset-1-name: 'category-tag';

.row {
	clear: both;
	min-height: 10px;
	overflow: hidden;
}
	.col {
		float: left;
	}
	.colRight {
		float: right;
	}


.#{$asset-1-name} {
	display: block;
	float: left;
	font-size: 12px;
	font-family: Oswald Bold;
	text-transform: uppercase;
	line-height: 18px;
	padding: 0px 0px 0 5px;
	margin: 0 6px 0 0;
	color: #fff;
	margin-bottom: 5px;

	.arrow {
		display: block;
		float: right;
		width: 0;
		height: 0;
		border-top: 8px solid transparent;
		border-bottom: 8px solid transparent;
		border-right: 8px solid white;
		border-right-color: rgba(255, 255, 255, .5);
		margin-left: 6px;
	}
}
	.#{$asset-1-name}.location { background-color: #82b5e6; }
	.#{$asset-1-name}.class { background-color: #00a651; }
	.#{$asset-1-name}.event { background-color: #ff6c6c; }
	.#{$asset-1-name}.featured { background-color: #1a93b0; }
	.#{$asset-1-name}.trending { background-color: #6dcbd3; }
	.#{$asset-1-name}.sponsored { background-color: #666; }



$asset-2-name: 'quotebox';

.#{$asset-2-name} {
	&__square {
		width: 50%;
		float: left;
		padding: 3% 3% 3% 3%;
		margin-right: 3%;
		background: #d4e8ef;
	}

	&__worthy {
		content: 'quoteworthy';
		display: block;
		background: #000;
		position: absolute;
		left: 0;
		top: 1%;
	}

	&__rect1 {
		background: #3793b2;
		padding: 2% 3% 2% 3%;
		width: 94%;
		color: #fff;
		line-height: 1.7em;
		font-family: OpenSans;
		font-size: 1.1em;

		margin-bottom: 1em;
	}

	&__rect2 {
		background: #e5e5e5;
		padding: 3%;
		width: 94%;
		line-height: 1.7em;
		font-family: OpenSans;
		font-size: 1.0em;

		margin-bottom: 1em;
	}
}

// ------------------------------------------------------------
// Desktop Breakpoint
// ------------------------------------------------------------

@include media-query(desktop) {
	.#{$asset-1-name} {
		
	}
}
// ------------------------------------------------------------
// Tablet Breakpoint
// ------------------------------------------------------------

@include media-query(tablet) {
	.#{$asset-1-name} {
		
	}
}