// *
// * Helper Classes
// *

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// Constrain
// * FOR: Constraining content width at mobile and tablet breakpoints
// * WHY: Not all elements are 100% wide
// * USE: @include constrain;
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

@mixin constrain {
  width: 84.375%; // 270px/320px
  margin-left: auto;
  margin-right: auto;
  @media screen and (min-width: $tablet-breakpoint) {
    width: 94%;
  }
  @media screen and (min-width: $desktop-breakpoint) {
    width: 100%;
  }
}

@mixin unconstrain {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}

%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.page--section%opaque-background,
.page--section %opaque-background {
  background-color: color(gray, xx-light);
}

%opaque-background {
  background-color: color(white);
}


// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// Link States
// * FOR: So link state color declarations
// * WHY: Breaking out each state on a module takes up a lot of space
// * USE: @include link-states(color(red), color(red, light), color(red, light));
//    - Accepts color values from the color function from _colors.scss
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

@mixin link-states($normal, $hover:false, $active:false, $visited:false)
{
  color: $normal;
  @if $visited {
    &:visited {
      color: $visited;
    }
  }
  @if $hover {
    &:hover {
      color: $hover;
    }
  }
  @if $active {
    &:active,
    &:focus {
      color: $active;
    }
  }
}


// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// Media Query
// * FOR: Writing css specific to particular breakpoints
// * WHY: Standardizes breakpoint sizes
// * USE: @include media-query($) {...};
//    - Acceptable arguments: `tablet`, `desktop`, or an integer
// * Shout out to http://css-tricks.com/media-queries-sass-3-2-and-codekit/
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

@mixin media-query($breakpoint) {

  @if $breakpoint == tablet {
    @media (min-width: $tablet-breakpoint) { @content; }
  }
  @else if $breakpoint == desktop {
    @media (min-width: $desktop-breakpoint) { @content; }
  }
  @else if round($breakpoint) == $breakpoint {
    @media (min-width: #{$breakpoint}px) { @content; }
  }

}

@mixin media-query--retina {
  @media only screen and (-webkit-min-device-pixel-ratio: 1.3),
  only screen and (-o-min-device-pixel-ratio: 13/10),
  only screen and (min-resolution: 120dpi) {
    @content;
  }
}


// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// Sprite Position for Retina
// * FOR: setting the background position and background size to half
// * WHY: the retina sprite is twice the size so this displays it correctly
// * USE: @include sprite-retina($);
// * The non-retina version of this mixin lives in the _bdc-sprite-position.scss
//   and is generated by the grunt task 'grunt bdc-sprite'
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

@mixin sprite--retina($sprite) {
  background-position: map-get($sprite, 'offset_x')/2 map-get($sprite, 'offset_y')/2;
  background-size: map-get($sprite, 'total_width')/2 map-get($sprite, 'total_height')/2;
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// Visually Hidden
// * FOR: hiding content visually, but not from screenreaders/scrapers
// * WHY: Skipnav and other acessibility concerns
// * USE: @extend .visuallyhidden
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// Extend Overlays
// * FOR: Genereal Overlay Styling
// * WHY: Consistant use of this element
// * USE: @extend .overlays
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

.overlays {
  .iconOverlay {
    position: absolute;
    z-index: 1;
  }
  .topSpacing {
    top: 3%;
  }
  .leftSpacing {
    left: 6%;
  }
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// Extend Ad Slots
// * FOR: Genereal Ad Slot Styling
// * WHY: Consistant use of this element
// * USE: @extend .adSlots
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

.adSlots {
  margin: auto;
  display: block;
  min-height: 250px;
  overflow: hidden;
  clear: both;
  
  .adSlot {
    display: block;
    width: 300px;
    height: 250px;
    margin: 0;
    margin: auto;
    position: relative;
    /*border: 1px solid #ccc;*/
    margin-bottom: 30px;

    .category-tag {
      position: absolute;
      z-index: 101;
    }
    
    @extend .overlays;
    
    .detailsWrapper {
      width: 100%;
      clear: both;
      min-height: 10%;
      overflow: hidden;
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 1;

      .detailsArrow{
        display: none;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 25px 20px 25px;
        border-color: rgba(0, 0, 0, 0.6) transparent;
        float: right;
      }

      .detailsOverlay {
        width: 93%;
        min-height: 20%;
        padding: 4% 5% 3% 3%;
        color: #fff;
        font-size: 0.7em;
        letter-spacing: 1px;
        font-family: 'Oswald', sans-serif;
        font-weight: 300;
        background-color: rgba(0, 0, 0, 0.6);
        clear: both;

        h1 {
          font-size: 2em;
          font-weight: 500;
          text-align: left;
          padding: 0 0 0.5em 0;
          margin: 0 0 0 0;
          line-height: /*100%*/26px;
          clear: both;
          min-height: 10px;
          overflow: hidden;

          span.col {
            width: 60%;
          }

          .priceSpan {
            float: right;
            width: 40%;
            text-align: right;
          }
        }
        p {
          display: none;
          font-family: OpenSans;
          font-size: 13px;
          line-height: 18px;
          padding: 0 0 0.5em 0;
          margin: 0 0 0 0;
        }
      }
    }
  }
    .adSlot:hover .detailsWrapper .detailsOverlay p {
      display: block;
    }
}

@include media-query(desktop) {
  .adSlots {
    .adSlot {
      float: left;
      margin-right: 0px;

      .detailsWrapper {
        .detailsOverlay {
          h1 {
            font-size: 18px;

            .priceSpan {
              width: 40%;
            }
          }
        }
      }
    }
    .adSlot:first-child {
      float: left;
      margin-right: 30px;
    }

    a.adSlot:first-child{
      margin: 0px;
    }
  }
}

@include media-query(tablet) {
  .adSlots {
    .adSlot {
      float: left;
      margin-left: 30px;
      
      .detailsWrapper {
        .detailsOverlay {
          h1 {
            font-size: 18px;

            .priceSpan {
              width: 40%;
            }
          }
        }
      }
    }

    a.adSlot:first-child{
      margin-left: 0;
    }
  }
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// Social Icons - Articles Page
// * FOR: Articles Social Icons
// * WHY: Consistant use of this element
// * USE: @extend .social-icons
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

.social-icons {
  clear: both;
  min-width: 200px;
  min-height: 21px;
  overflow: hidden;
  
  a {
    display: inline-block;
    text-indent: -900px;
    min-width: 9px;
    height: 21px;
    margin-right: 10px;
    background-image: url(#{$img-path}icons/sprites/social-icons.png);
    background-repeat: no-repeat;
  }

  &__facebook {
    width: 9px;
    background-position: 0px 0px !important;
  }

  &__twitter {
    width: 22px;
    background-position: -20px 0px !important;
  }

  &__share {
    width: 23px;
    background-position: -48px 0px !important;
  }

  &__email {
    width: 27px;
    background-position: -81px 0px !important;
  }

  &__comments {
    width: 27px;
    height: 27px !important;
    background-image: url(#{$img-path}icons/comment.png) !important;
    background-position: 0 0;
    background-repeat: no-repeat;
  }

  &__print {
    width: 22px;
    background-position: -147px 0px !important;
  }

  &__favorite {
    width: 21px;
    background-position: -179px 0px !important;
  }
}



// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// Chevron Style Arrows
// * FOR: Open Arrows styling
// * WHY: Consistant use of this element
// * USE: @extend .chevron
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

.chevron::before {
  color: #fff;
  border-style: solid;
  border-width: 0.20em 0.20em 0 0;
  content: '';
  display: inline-block;
  height: 1em;
  left: 0.15em;
  position: relative;
  top: 0.4em;
  transform: rotate(-45deg);
  vertical-align: top;
  width: 1em;

  font-family: arial, sans-serif;
  font-size: 15px;
}

.chevron.right:before {
  left: 0;
  transform: rotate(45deg);
}

.chevron.bottom:before {
  top: 0;
  transform: rotate(135deg);
}

.chevron.left:before {
  left: 0.25em;
  transform: rotate(-135deg);
}

