// *
// * Page Masthead
// *

$module-name: 'page-search';

// ------------------------------------------------------------
// Default Styles
// ------------------------------------------------------------

.#{$module-name} {
	width: 100%;
	
	&__home{
		position: absolute;
		top: 160px;
		z-index: 500;
		height: $page-search-home-height;
		background: rgba(233,244,246,0.7);
	}

	&__serp{
		display: block;
		float: left;
		height: $page-search-serp-height;
		background: rgb(221, 239, 243);
	}

	&__content-wrapper {
		width: 1000px;
		height: 100%;
		overflow: hidden;
		margin: auto;
	}

	&__form{
		display: block;
		width: $page-search-form-width;
		height: 90%;
		margin: 10px auto;

		input[type="text"] {
			box-sizing: border-box;
			margin: 0 5px 0 0;
			border: 0;
		}

	}

	&__search-dropdown{
		display: inline-block;
		float: left;

		&--main{
			width: 700px;
			height: 50px;
			font-size: 17px;
			padding: 5px 20px;
			font-family: 'Times';
		}

		&--main-serp{
			width: 250px;
			height: 50px;
			font-size: 17px;
			padding: 5px 20px;
			font-family: 'Times';
		}

		&--filter{
			width: 85px;
			height: 26px;
			padding: 5px;
		}

	}


	&__row{
		@extend .row;

		&--bottom{
			margin: 10px 20px;
		}
	}

	&__button{
		display: inline-block;
		border: 0;

		&--submit{
			float: right;
			width: 50px;
			height: 45px;
			background: url(#{$img-path}icons/icon_search-magnifiying-glass.png) center center no-repeat #000;
		}

		&--save-search{
			float: right;
			background: none;
			color: #000;
			font-weight: bold;
			text-transform: uppercase;
			vertical-align: middle;
			box-shadow: none;
		}
	}


	&__fancy-checkbox-container{
		display: inline-block;
		float: left;

		input[type=checkbox] {
			display: none;
			padding: 0;
		}

		label {
			display: inline-block;
			cursor: pointer;
			position: relative;
			padding-left: 17px;
			margin-right: 15px;
			margin-bottom: 3px;
			font-size: 11px;
		}

		label:before {
			content: "";
			display: inline-block;
			position: absolute;
			left: 0;
			bottom: 1px;
			margin-right: 10px;
			border-radius: 2px;
			width: 14px;
			height: 14px;
			color: #fff;
		}

		input[type=checkbox]:checked + label:before {
			content: "\2713";
			font: 15px sans-serif;
			color: #f3f3f3;
			text-align: center;
		    line-height: 15px;
		}

		&--for-sale{

			label:before{
				background: #1c93b5;
			}

		}

		&--for-rent{

			label:before{
				background: #05a851;
			}
		}

	}

	&__dropdown{
		display: inline-block;
		vertical-align: middle;
	}

	.select2-drop{
		border: 0;
		background: #fff;
	}

}

			
