// *
// * Page Search
// *

$module-name: 'page-search';

// ------------------------------------------------------------
// Default Styles
// ------------------------------------------------------------

.#{$module-name} {
	position: absolute;
	top: initial;
	left: 0;
	z-index: 50;
	width: 100%;
	height: auto;	
	font: 11px sans-serif;
	background: rgb(218, 206, 241);

	.mobile{
		display: inline-block;
	}

	.desktop{
		display: none;
	}
	

	&__content-wrapper {
		position: relative;
		margin: auto;
		width: 100%;
		height: auto;
	}

	&__form{
		display: block;
		margin: 0 auto;
		width: 100%;
		height: auto;
	}


	&__row{
		@extend .row;
		position: relative;
		width: 100%;
		overflow: visible;

		h4{
			float: left;
			line-height: 30px;
			font-size: 12px;
			text-transform: uppercase;
		}

		span.helper{
			position: relative;
			top: -8px;
		}

		&--level-one{
			display: inline-block;
			z-index: 100;
			padding: 10px 5px;
			height: auto;
			background: #fff;
			box-sizing: border-box;
		}

		&--level-two{
			display: inline-block;			
			padding: 10px;
			width: 90%;

			h4{
				display: inline-block;
				width: 120px;
			}

			input[type=text]{
				padding: 5px;
				height: 22px;
			}

			.select2-container{
				float: right;
				padding: 5px 0;
				.select2-choice{
					.select2-chosen{
						color: #000;
					}
				}
				.select2-arrow{
					margin-top: 3px;
				}
			}
		}

		&--level-three{
			display: inline-block;
			top: 0px;
			left: 0;
			z-index: 50;
			margin: 0 20px 10px 20px;
			width: 90%;
			height: auto;

			.col{
				display: block;
				float: left;
				width: 100%;
			}

			ul{
				list-style-type: none;
				margin: 5px 0;
				padding-left: 0;

				li{
					label{
						font-size: 11px;
					}
				}
			}

			h4{
				display: block;
				float: left;
				width: 100%;
			}

			.select2-container{
				.select2-choice{
					height: 42px;
					line-height: 42px;
					.select2-arrow{
						top: 8px;
					}
				}
			}
		}
	}

	&__section{
		display: block;
		float: left;
		width: 100%;

		&--tokenize{
			margin: 0 0 12px 0;
			height: auto;
			min-height: 70px;
		}

		input[type="text"], .select2-container{
			border: none;
		}

		ul{
			clear: both;
		}

		.price-range-container{
			margin: 5px 0 0 0;
			float: right;
		}
	}



	&__container{
		display: block;

		&--radio{
			float: right;
		}
		&--range{
			float: left;
		}
	}

	&__list-item{
		display: block;
		margin: 0 5px 5px 5px;
	}


	&__input{
		border-radius: 2px;
		height: 32px;

		&--numeric{
			width: 50px;
			padding: 5px;
		}

		&--numeric-short{
			width: 50px;
			height: 26px;
			padding: 0 5px;
		}

		&--text{
			width: 165px;
			padding: 5px;
		}

		&--tokenize{
			width: 90%;
			min-height: 32px;
			height: auto;
		}
	}



	&__button{
		display: inline-block;
		outline: none;
		border: 0;
		cursor: pointer;

		&--submit{
			float: right;
			margin: 0 0 20px 0;
			width: 25px;
			height: 35px;
			border-radius: 4px;
			background: url(#{$img-path}icons/icon_search-magnifiying-glass.png) center center no-repeat #000;
		}

		&--save{
			position: absolute;
			top: 10px;
			right: 45px;
			outline: none;			
			background: none;
			color: #000;
			font-weight: bold;
			text-transform: uppercase;
			vertical-align: middle;
			box-shadow: none;
			
			span.saved{
				display: none;
				color: rgb(117, 124, 125);
			}
		}


		&.select2-panel-open {
			span.select2-arrow{
				b{
					background-position: -18px 1px;
				}
			}				
		}

		&--level-two-toggle{
			position: relative;
			z-index: 600;
			top: 8px;
			right: 8px;
			width: 10px;
			height: 28px;
			border-radius: 4px;
			background: #ececec;

			span{
				position: absolute;
				top: 50%;
				left: 30%;
				display: block;
				width: 0;
				height: 0;
				border-color: #808080 transparent transparent transparent;
				border-style: solid;
				content: ' ';

				&.down-arrow{
					margin-top: -3px;
					border-width: 7px 7px 0 7px;
					border-color: #808080 transparent transparent transparent;
				}

				&.up-arrow{
					margin-top: -4px;
					border-color: transparent transparent #808080 transparent;
					border-width: 0 7px 7px 7px;
				}				
			}
			
			
		}


		&--level-three-toggle{
		    position: relative;
		    top: 5px;
		    zoom: 1;
		    vertical-align: middle;
		    width: 70px;
			height: 19px;
			border: 1px solid #fff;
			margin: 0 0 0 6px;
			outline: none;
			background: #fff;			
		    vertical-align: middle;
		    cursor: pointer;

		    span.select2-chosen{
		    	display: block;
			    float: left;
		    	margin-right: 40px;
				display: block;
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
				float: none;
				width: 45px;
				background-color: #fff;

			    -webkit-touch-callout: none;
			    -webkit-user-select: none;
			    -moz-user-select: none;
			    -ms-user-select: none;
			    user-select: none;			    
		    }

			span.select2-arrow{
				display: inline-block;
			    width: 18px;
			    height: 100%;
			    position: absolute;
			    right: 0;
			    top: 3px;

				b{
					display: block;
					width: 100%;
					height: 100%;
					background: url(#{$img-path}icons/select2.png) no-repeat 0 1px;
				}	
			}
		}

		&--close{
			display: block;
			position: absolute;
			right: 15px;
			color: #2E1460;
			opacity: 1;
			background: transparent;
			padding: 2px 4px;
			border-radius: 2px;
			cursor: pointer;

			span{
				font-size: 24px;
				background: none;
				text-align: center;
			}
		}

	}

	.lower-level{
		display: block;
		width: auto;
		height: auto;
		min-height: 0;
	}


	&__fancy-radio-box {
		display: inline-block;
		float: left;
		margin: 8px 0 0 0;

		input[type=radio] {
			display: none;
			padding: 0;
		}

		label {
			display: inline-block;
			position: relative;			
			padding: 0 0 4px 25px;
			margin-right: 5px;
			font-size: 11px;
		}

		label:before {
			content: "";
			display: inline-block;
			position: absolute;
			left: 0;
			bottom: 1px;
			margin-right: 10px;
			padding: 3px 1px 1px 1px;
			width: 16px;
			height: 14px;
			line-height: 20px;
			border: 1px solid #fff;
			border-radius: 11px;
			-moz-border-radius: 8px;
			background: #fff;
			font-family: sans-serif;
			font-size: 13px;
		}

		input[type=radio]:checked + label:before  {
		    content: "\2022";     
		    font-size: 30px;  
		    text-align: center;
		    line-height: 12px;  
		    -moz-line-height: 20px;
		    color: #fff;
		}

		&--for-sale{
			label:before{
				background: #1c93b5;
			}
		}

		&--for-rent{
			label:before{
				background: #05a851;
			}
		}
	}

	

	&__fancy-checkbox{

		input[type=checkbox]{
			display: none;
		}

		label {
			display: inline-block;
			cursor: pointer;
			position: relative;			
			margin-right: 10px;
			margin-bottom: 3px;
			padding-left: 20px;
			font-size: 13px;
		}

		label:before {
			content: "";
			display: inline-block;
			position: absolute;
			left: 0;
			bottom: 1px;
			margin-right: 10px;
			border: 1px solid #fff;
			width: 11px;
			height: 11px;
			background: #fff;
			font-family: sans-serif;
		}

		input[type=checkbox]:checked + label:before{
			content: "\2713";   
		    font-size: 15px;  
		    text-align: center;  
		    line-height: 15px; 
		}

	}
	

	&__dropdown{
		display: inline-block;
		vertical-align: middle;
		font-family: 'Verdana', sans-serif;
		cursor: pointer;

		&--main{
			float: left;
			margin: 0 0 0 10px;
			width: 68%;
			height: 40px;
			border-radius: 4px;
			
			.selectize-input{
				padding: 10px 15px;
				height: 20px;
				border: 1px solid rgb(235, 235, 235);
				border-radius: 4px;
				line-height: 16px;
				cursor: none;
			}

			.selectize-dropdown{
				height: auto;
			}

		}

		&--range{
			float: right;
			padding: 5px;
			width: 180px;
			height: 40px;
			font-size: 11px;
		}

		&--filter-fmt{
			width: 95px;
			height: 30px;
			padding: 5px;
		}

		&--filter-hometype{
			width: 112px;
			height: 30px;
			padding: 5px;
		}

		&--filter-dom{
			width: 170px;
			height: 45px;
			margin: 5px;
		}
	}

	&.select2-focusser{
		color: #000;
	}

}



.select2-drop{
	.select2-search{
		display: none;
	}
}

// ------------------------------------------------------------
// Desktop Breakpoint
// ------------------------------------------------------------
@include media-query(desktop) {

	.home .#{$module-name}{
		position: absolute;
		top: 160px;
		z-index: 10;
		background: rgba(255, 255, 255, 0.85);

		&__form{
			input[type="text"], input[type=search] {
				border: none;
			}
		}

		&__dropdown{
			&--main{
				border: none;
			}
		}
	
	}

	.page-section .#{$module-name}{
		position: absolute;
		top: 160px;
		z-index: 10;
		background: rgba(255, 255, 255, 0.85);

		&__section{
			input[type=text]{
				border: 1px solid rgb(0,0,0);
			}
		}

		&__dropdown{
			.selectize-input{
				border: 1px solid rgb(0,0,0);
			}
			
		}

		&__input{

			&--numeric, &--text{
				border: 1px solid rgb(0,0,0);
			}

			&--tokenize, &--main{
				.selectize-input{
					border: 1px solid rgb(0,0,0);
				}
			}
		}

		&__button{
			&--submit{
				margin: 0 64px 0 0;
			}

			&--level-three-toggle{
				border: 1px solid rgb(0,0,0);
				height: 34px;

				span.select2-chosen{
					color: rgb(153, 153, 153);
				}


			}

			&.select2-panel-open{
				span.select2-chosen{
					color: rgb(0, 0, 0);
				}
			}

			&--close{
				margin-right: 32px;
			}
		}

		&__fancy-checkbox{
			label:before{
				border: 1px solid rgb(0,0, 0);
			}
		}

		.select2-choice, .select2-container .select2-drop{
			border: 1px solid rgb(0,0,0);
			color: transparent;
		}

	}


	.#{$module-name} {
		display: block;
		height: auto;
		min-height: 60px;

		.mobile{
			display: none;
		}

		.desktop{
			display: inline-block;
		}

		.select2-drop{
			margin: 8px 0;
		}

		&__content-wrapper{
			width: $page-search-desktop-width;
		}

		&__row{

			&--level-one{
				padding: 10px;
				height: 68px;
				background: none;
			}

			&--level-two{
				margin: 0 50px 10px 50px;

				section{
					display: inline-block;
					width: auto;
					margin: 0 4px;

					.select2-container{
						.select2-choice{
							height: 32px;
							line-height: 32px;
						}
					}
				}

			}

			&--level-three{
				margin: 0px 20px 10px 50px;

				.col{
					width: 21%;
					margin-right: 1%;
				}

				h4{
					float: left;
				}
			}
		}

		&__container{
			display: inline-block;
			float: left;

			&--radio{
				float: left;				
				margin: 8px 0 0 0;
			}

			&--range{
				float: left;
			}
		}

		&__list-item{
			float: left;
			width: 100%;
		}

		&__input{
			&--tokenize{
				width: 154px;
			}
		}

		&__dropdown{
			cursor: pointer;

			&--main{
				float: left;
				display: block;
				margin: 0 0 0 78px;
				width: 680px;
				height: 60px;
				border: none;
				border-radius: none;
				font-size: 17px;

				.selectize-input{
					height: auto;
					border: none;
					line-height: 28px;
				}
			}
		}

		&__button{
			&--save{
				top: 23px;
			}

			&--submit{
				margin-right: 52px;
				width: 44px;
				height: 44px;
			}

			&--level-two-toggle{
				box-sizing: border-box;
				top: 10px;
				left: initial;
				right: 15px;
				width: 36px;
				height: 30px;
			}

			&--level-three-toggle{
				box-sizing: border-box;
				height: 34px;
			}

		}

		&--close{
			margin-right: 12px;
		}

		&__fancy-radio-box {
			input[type=radio]:checked + label:before  {
				line-height: 16px;
			}
		}

	}
	
}

// ------------------------------------------------------------
// Tablet Breakpoint
// ------------------------------------------------------------
@include media-query(tablet) {
	.#{$module-name} {
		display: block;
	}
}


/* Target Firefox only */
/*@-moz-document url-prefix() {
	.#{$module-name}{
		&__button{
			&--level-two-toggle{
				height: 35px;
			}
		}
	}	
}*/

