// *
// * Page Header 
// *

$module-name: 'page-header';

// ------------------------------------------------------------
// Default Styles
// ------------------------------------------------------------

.#{$module-name} {
	width: 100%;
	/*height: (($page-header-height/2)+($page-header-height/3));*/

	&__content{
		display: block;
		max-width: 728px;
		/*height: 90px;*/
		margin: auto;
		overflow: hidden;
	}
}

@include media-query(desktop) {
	.#{$module-name} {
		height: $page-header-height;
	}
}

@include media-query(tablet) {
	.#{$module-name} {
		height: $page-header-height;
	}
}