$module-name: 'page-layout';
$padding-top: 20px;

.#{$module-name} {
	width: 100%;
	min-height: 100px;
	margin: auto;
	overflow: hidden;
	clear: both;
	padding-bottom: 20px;
	position: relative;

	&__left-col {
		float: left;
		width: 60%;
		height: 100%;
		padding-top: $padding-top;
		margin-right: 10%;
	}
	
	&__right-col {
		float: left;
		width: 30%;
		height: 100%;
		padding-top: $padding-top;
	}
}

@include media-query(desktop) {
	.#{$module-name} {
		width: ($left-col-width + $right-col-width + $right-col-right-gutter);

		&__left-col {
			width: $left-col-width;
			margin-right: $right-col-right-gutter;
		}
		
		&__right-col {
			width: $right-col-width;
		}
	}
}

@include media-query(tablet) {
	.#{$module-name} {
		width: $desktop-breakpoint;
	}
}