// *
// * Page Masthead
// *

$module-name: 'masthead';

// ------------------------------------------------------------
// Default Styles
// ------------------------------------------------------------

.#{$module-name} {
	width: 100%;
	height: 55px;
	overflow: hidden;
	/*margin-top: 41.5px;*/
}

// ------------------------------------------------------------
// Desktop Breakpoint
// ------------------------------------------------------------
@include media-query(desktop) {
	.#{$module-name} {
		height: $page-masthead;
		margin-top: 0px;
	}
}

// ------------------------------------------------------------
// Tablet Breakpoint
// ------------------------------------------------------------
@include media-query(tablet) {
	.#{$module-name} {
		height: $page-masthead;
		margin-top: 0px;
	}
}
