// *
// * Page Masthead
// *

$module-name: 'page-search';

// ------------------------------------------------------------
// Default Styles
// ------------------------------------------------------------

.#{$module-name} {
	width: 100%;
	
	&__home{
		position: absolute;
		top: 160px;
		z-index: 500;
		height: auto;
		background: rgba(233,244,246,0.7);
		font: 11px sans-serif;

		form{
			width: 800px;
		}
	}

	&__serp{
		display: block;
		float: left;
		height: $page-search-serp-height;
		background: rgb(221, 239, 243);

		form{
			width: 960px;

			input[type=search]{
				margin-left: 15px;
			}
		}
	}

	&__content-wrapper {
		width: 960px;
		height: 100%;
		margin: auto;
		position: relative;
	}

	&__form{
		display: block;
		height: 90%;
		margin: 10px auto;

		input[type="text"] {
			box-sizing: border-box;
			margin: 0 5px 0 0;
			border: 0;
		}

	}


	&__row{
		@extend .row;
		overflow: visible;

		&--bottom{
			margin: 0 20px;
		}
	}

	&__button{
		display: inline-block;
		border: 0;

		&--submit{
			float: right;
			width: 30px;
			height: 30px;
			background: url(#{$img-path}icons/icon_search-magnifiying-glass.png) center center no-repeat #000;
		}

		&--save-search{
			float: right;
			background: none;
			color: #000;
			font-weight: bold;
			text-transform: uppercase;
			vertical-align: middle;
			box-shadow: none;
			margin-top: 10px;
		}

		&--search-arrow{
			position: absolute;
			z-index: 600;
			cursor:pointer;
			top: 14px;
			right: 188px;
			background: #ececec;
			width: 15px;
			height: 21px;
			border-radius: 4px;

			span{
				position: absolute;
				  top: 50%;
				  left: 34%;
				  display: block;
				  width: 0;
				  height: 0;
				  border-color: #808080 transparent transparent transparent;
				  border-style: solid;
				  content: ' ';

				&.down-arrow{
					margin-top: -3px;
					border-width: 5px 5px 0 5px;
					border-color: #808080 transparent transparent transparent;
				}

				&.up-arrow{
					margin-top: -4px;
					border-color: transparent transparent #808080 transparent;
					border-width: 0 5px 5px 5px;
				}

				
			}
		}
	}


	&__menu-panel{
		position: absolute;
		top: 46px;
		left: 0;
		z-index: 800;
		width: 100%;
		height: auto;
		padding: 10px 10px 30px 10px;
		background: rgb(221, 239, 243);

		.col{
			width: 25%;
		}

		h4{
			line-height: 30px;
			font-size: 12px;
			text-transform: uppercase;
		}

		ul{
			list-style-type: none;
			margin: 5px 0;
			padding-left: 0;

			li{
				
				label{
					font-size: 11px;
				}
			}
		}


	}

	&__input-numeric{
		padding: 5px;
		width: 77px;
		height: 32px;
	}

	&__fancy-radio-box{
		display: inline-block;
		float: left;

		input[type=radio] {
			display: none;
			padding: 0;
		}

		label {
			display: inline-block;
			cursor: pointer;
			position: relative;			
			margin-right: 10px;
			margin-bottom: 3px;
			padding-left: 17px;
			font-size: 11px;
		}

		label:before {
			content: "";
			display: inline-block;
			position: absolute;
			left: 0;
			bottom: 1px;
			margin-right: 10px;
			border-radius: 8px;
			width: 14px;
			height: 14px;
			color: #fff;
		}

		input[type=radio]:checked + label:before {
			content: "\2022";
			font: 16px sans-serif;
			color: #f3f3f3;
			text-align: center;
		    line-height: 15px;
		    font-size: 31px;
		}

		&--for-sale{
			label:before{
				background: #1c93b5;
			}
		}

		&--for-rent{
			label:before{
				background: #05a851;
			}
		}
	}

	&__radio-container{
		display:inline-block;
		float: left;

		&--home{
			margin-top: 10px;
		}

		&--serp{
			width: 90px;
			margin-left: 15px;
		}
	}

	&__search-text{
		float: left;
		display:inline-block;
		border: none;
		padding: 10px;
		width: 210px;
	}

	&__dropdown{
		display: inline-block;
		vertical-align: middle;

		&--wide{
			width: 680px;
			height: 40px;
			font-size: 17px;
			font-family: 'Times';
			float: left;
		}

		&--narrow{
			width: 242px;
			height: 32px;
			font-size: 17px;
			padding: 5px;
			font-family: 'Times';
		}

		&--filter{
			width: 85px;
			height: 30px;
			padding: 5px;
		}

		&--filter-wide{
			width: 120px;
			height: 30px;
			padding: 5px;
		}
	}



}

			
