$module-name: 'page-layout';
$padding-top: 20px;

body.neighborhood, body.category-details {
	background-image: url(#{$img-path}neighborhoods/19040004_source.jpg);
	background-position: center 162px;
	background-repeat: repeat-x;
}
	body.category-details {
		background-image: url(#{$img-path}neighborhoods/Category-Details__1152x699.jpg);
	}

.#{$module-name} {
	overflow: hidden;
	clear: both;
	
	margin: 80px auto 0 auto !important;
	max-width: $desktop-breakpoint;
	min-width: 0;

	// &__wrapper {
	// 	margin: 0 auto;
	// 	max-width: $desktop-breakpoint;
	// 	min-width: 0;
	// }

	&__left-col {
		width: 100%;
		min-width: 30%;
		height: 100%;
		padding-top: $padding-top;
		box-sizing: border-box;
		overflow: hidden;

		float: left;
	}
	
	&__right-col {
		display: block;
	}
}

.mega-menu {
	display: none;
}

@include media-query(tablet) {
	.#{$module-name} {
		margin: 0 auto;

		&__wrapper {
			margin: 0 auto;
			min-width: 765px;
		}

		&__right-col {
			display: block;
			float: right;
			width: 300px;
		}

		&__left-col {
			padding-right: 20px;
			max-width: 660px;
			min-width: 435px;
			box-sizing: border-box;
		}
	}
}

@include media-query(desktop) {
	.#{$module-name} {
		width: ($left-col-width + $right-col-width + $right-col-right-gutter);
		margin: 0 auto;
	}

	body.home {
		.page-layout {
			margin-top: 0;
		}		
	}

	body.serp {
		.page-layout {
			margin-top: 10px;
		}		
	}

	/*body.neighborhood, body.category-details {
		background-image: url(#{$img-path}neighborhoods/19040004_source.jpg);
		background-position: center 162px;
		background-repeat: repeat-x;
	}
		body.category-details {
			background-image: url(#{$img-path}neighborhoods/Category-Details__1152x699.jpg);
		}*/

	body.neighborhood .page-nav, body.category-details .page-nav {
		margin-bottom: 90px;
	}

	body.neighborhood .page-layout__left-col {
		padding-top: 0px;
	}
}

body.serp {
	.page-layout {
		margin-top: 10px !important;
	}		
}	

