// *
// * Page Masthead
// *

$module-name: 'masthead';

// ------------------------------------------------------------
// Default Styles
// ------------------------------------------------------------

.#{$module-name} {
	width: 100%;
	height: $page-masthead;
}