$module-name: 'page-layout';
$padding-top: 20px;

.#{$module-name} {
	/*width: 100%;
	min-height: 100px;
	margin: auto;
	overflow: hidden;
	clear: both;
	padding-bottom: 20px;
	position: relative;*/
	overflow: hidden;
	clear: both;

	margin: 0 auto;
	max-width: $desktop-breakpoint;
	min-width: 0;

	&__wrapper {
		margin: 0 auto;
		max-width: $desktop-breakpoint;
		min-width: 0;
	}

	&__left-col {
		max-width: 100%;
		min-width: 30%;
		height: 100%;
		padding-top: $padding-top;
		box-sizing: border-box;
		overflow: hidden;

		padding-right: 20px;

		float: left;
	}
	
	&__right-col {
		display: none;
	}
}

.mega-menu {
	display: none;
}

@include media-query(tablet) {
	.#{$module-name} {
		margin: 0 auto;

		&__wrapper {
			margin: 0 auto;
			min-width: 765px;
		}

		&__right-col {
			display: block;
			float: right;
			width: 300px;
		}

		&__left-col {
			/*padding-right: 25px;*/
			max-width: 660px;
			min-width: 435px;
			box-sizing: border-box;
		}
	}
}

@include media-query(desktop) {
	.#{$module-name} {
		width: ($left-col-width + $right-col-width + $right-col-right-gutter);
		margin: 0 auto;
	}

	.page-layout-wrapper {
		min-width: 1152px;
		min-height: 700px;
		overflow: hidden;
		clear: both;
		background-image: url(#{$img-path}neighborhoods/Neighborhood__BGImage__Brookline.jpg);
		background-position: top left;
		background-repeat: repeat-x;
	}
}

