$module-name: 'page-layout';
$padding-top: 20px;

.#{$module-name} {
	width: 100%;
	min-height: 100px;
	margin: auto;
	overflow: hidden;
	clear: both;
	padding-bottom: 20px;
	position: relative;

	&__left-col {
		float: left;
		width: 100%;
		height: 100%;
		padding-top: $padding-top;
	}
	
	&__right-col {
		display: none;
	}
}

.mega-menu {
	display: none;
}

@include media-query(desktop) {
	.#{$module-name} {
		width: ($left-col-width + $right-col-width + $right-col-right-gutter);
		margin: auto;

		&__left-col {
			width: $left-col-width;
			margin-right: $right-col-right-gutter;
			margin-right: 20px;
		}
		
		&__right-col {
			width: $right-col-width;
			float: left;
			height: 100%;
			display: block;
			padding-top: $padding-top;
		}
	}

	.page-layout-wrapper {
		min-width: 1152px;
		min-height: 700px;
		overflow: hidden;
		clear: both;
		background-image: url(#{$img-path}neighborhoods/Neighborhood__BGImage__Brookline.jpg);
		background-position: top left;
		background-repeat: repeat-x;
	}
}

@include media-query(tablet) {
	.#{$module-name} {
		width: $desktop-breakpoint;
	}
}