// *
// * Page Footer
// *

$module-name: 'page-footer';

// ------------------------------------------------------------
// Default Styles
// ------------------------------------------------------------

.#{$module-name} {
	//border-top: 1px solid #1a93b0;
	background-color: #fff;
	padding-top: 26px;
	//margin-top: 30px;
	
	overflow: hidden;
	clear: both;
}

// ------------------------------------------------------------
// Desktop Breakpoint
// ------------------------------------------------------------

@include media-query(desktop) {
	.#{$module-name} {
		
	}
}

// ------------------------------------------------------------
// Tablet Breakpoint
// ------------------------------------------------------------

@include media-query(tablet) {
	.#{$module-name} {
		//height: $page-nav-desktop-height;
		//position: initial;		
	}
}